[2017-09-22 22:50] comex commented on #570
I understand the difference, and I think I stated it correctly in the first paragraph of my last comment, but perhaps my wording was unclear.

My point was that even if glibc occasionally bumps a symbol version, that is not a backwards compatibility break (for old binaries), unlike the situation with - at least - OpenBSD.  According to @mattmacy's latest comment, FreeBSD actually doesn't break old

[2017-09-23 03:29] mattmacy commented on #570
@comex Can you distill the implications of your last post?

Yes, Rust has it's own notions of target and outside of Linux and Windows that notion is _wrong_. I just want to be able to use Rust across different 3-tuples (OS/ABI/arch) as opposed to the current 2-tuple (OS/arch) with the ABI set to wherever they happened to copy the header values from.

[2017-09-23 05:41] mattmacy commented on #570
Although I managed to get jsonrpc_http_server bits to work yesterday by patching some of the dependent ports and then using [patch.crates-io] overrides, today I tried building netmap_sys with user libs which failed in the gcc crate, presumably because of something in libstd. I tried installing the FreeBSD port, but the cargo in that version wouldn't let me override libc (if that's something only a

[2017-09-23 06:41] comex commented on #570
@mattmacy To quote http://doc.crates.io/manifest.html:

In the mean time you could use [replace].

[2017-09-23 23:17] vojtechkral commented on #716
@qinsoon Marking the `si_fields_t` as `#[repr(C, packed)]` instead of just `#[repr(C)]` makes it the same size as original one. Is this correct / does this help?

[2017-09-23 23:22] vojtechkral opened #779 "Use union for epoll_event user data (`epoll_data_t`)?"
It would make working with epoll a bit more pleasant, but I'm concerned about backcompat problems.
There's no way to make this change in a non-breaking way.
I'd be glad to implement, but I'm checking here first whether it's worth it...

[2017-09-23 23:28] mattmacy commented on #570
This is why this oversight really perplexes me. Having the version be an explicit part of the OS target is not hidden and is visible to anyone who has looked at a configure script for any cross-platform OSS program:

[code]

[2017-09-24 07:44] kev009 commented on #570
@comex I think you're starting down the right track now.  The current rust libc is trying to do something that is not really tractable, an impedance mismatch with C language calling and linkage conventions.  In effect:  lazy binding with a static set of bindings.  That feels like something you might do in a dynamic language, and there you might not care much about correctness or performance and ca

[2017-09-24 12:51] alexcrichton commented on #779
Would be great to do! But yes backwards compatible is required

[2017-10-01 10:06] vojtechkral commented on #779
Hm, well, I don't really see a way of doing this without breaking compatibility, so I'm gonna close (at least for now).

[2017-10-01 10:06] #779 closed

[2017-10-01 10:12] vojtechkral opened #788 "glibc 2.26 incompatibilities"
glibc 2.26 introduces some changes that make `libc-test` not work anymore.

- It [removes `xlocale.h`](https://sourceware.org/glibc/wiki/Release/2.26#Removal_of_.27xlocale.h.27)
- It [removes `SIGUNUSED`](http://man7.org/linux/man-pages/man7/signal.7.html)

[2017-10-04 09:01] alexcrichton commented on #788
Thanks for the report! A PR to update this would be most welcome!

[2017-10-12 20:33] vojtechkral commented on #788
Fixed by #798

[2017-10-12 20:33] #788 closed

[2017-10-13 13:36] tpgxyz opened #803 "can't build with LLVM/clang 5.0.0"
Hi,

i can't build rust-1.2x.x with LLVM/clang.
Full logs http://file-store.openmandriva.org/api/v1/file_stores/197aa1789bf51e7f1badb252e3e7f95cfaacac4a.log?show=true

[code]

[2017-10-19 13:56] Susurrus commented on #730
I believe this is actually correct, it's just C can't make fields of structs public, but it's the reason why the `FD_CLR()` macros and friends exist. Since those are now included in libc, we can close this issue.

[2017-10-19 13:57] #730 closed

[2017-10-19 14:09] Susurrus commented on #665
Digging around the internet more, I'm inclined to say that `AF_MAX` and `PF_MAX` should just be removed. I think this would need to wait to 1.0 to do given the backwards compatibility guarantees provided by `libc`, but I can't find any real code that uses `AF_MAX` and PF_MAX`.

In `nix` we don't expose these constants in our socket API which makes me even more inclined to say that these constants

[2017-10-19 15:21] asomers opened #814 "Document ABI changes in release notes"
Commit https://github.com/rust-lang/libc/commit/9029cfb9eb76647cf9122a47252f1129eb18a562 changed libc's ABI.  If this was intended, then it should be documented in the release notes.  However, it looks like libc doesn't currently publish release notes.  I suggest keeping a changelog in the style of nix: https://github.com/nix-rust/nix/blob/master/CHANGELOG.md .

[2017-10-19 15:38] alexcrichton commented on #814
All changes are mistakes, I don't think there's anything to document. Just need to fix them.

[2017-10-19 16:54] alexcrichton commented on #814
Fixed in #813

[2017-10-19 16:54] #814 closed

[2017-10-20 16:18] malbarbo opened #816 "Enable travis test for x86_64-unknown-linux-gnux32"
There [are](https://github.com/rust-lang/rust/issues/45416) [some](https://github.com/rust-lang/rust/issues/45416) problems with x86_64-unknown-linux-gnux32 target. We need to test libc to discard binding errors.

I was able to build the tests but running it generates SIGTRAP, which seems to indicate some memory problems.

[2017-10-27 11:05] malbarbo opened #822 "Enable travis test for sparc64-unknown-linux-gnu"
Using qemu in user mode segfaults. Generating a image like in https://github.com/rust-lang/libc/pull/820 to run with qemu system also segfaults...

[2017-10-28 01:30] alexcrichton opened #826 "Reenable i686-linux-android test"
I'm about to disable this due to https://github.com/rust-lang/libc/pull/825#issuecomment-340078099

[2017-10-28 04:33] #816 closed

[2017-10-31 14:23] malbarbo opened #829 "Prefer using qemu system instead of qemu user"
[`s390x-unknown-linux-gnu`](https://github.com/rust-lang/libc/pull/820) and [`sparc64-unknown-linux-gnu`](https://github.com/rust-lang/libc/pull/828) uses qemu system to run the tests. It seems [more correct](https://github.com/rust-lang/libc/pull/820#issuecomment-340768155) in terms of emulation to use full system emulation. So we may try to update the other targets to use system emulation.

[2017-10-31 15:23] #822 closed

[2017-11-03 17:14] shaleh opened #832 "`pid_t` is not defined for Windows"
It should be a typedef for `c_int`.

Is there a reason `pid_t` is missing? If not, would a PR be accepted?

[2017-11-03 18:36] alexcrichton commented on #832
Nothing is left out on purpose so a PR would be more than welcome!

[2017-11-03 19:06] shaleh commented on #832
:+1:

[2017-11-03 19:37] shaleh commented on #832
Party started......

I did not see any obvious way to have a test that ensures that a type is defined on all supported systems. Did I miss it @alexcrichton ?

[2017-11-04 12:59] gnzlbg opened #834 "Make the ci infrastructure reusable from other crates"
I'd like to reuse most / all of the ci infrastructure from the `stdsimd` crate, so I'd like to ask if it would be possible to refactor this in such a way that this becomes possible.

[2017-11-08 14:05] Susurrus commented on #121
@alexcrichton I think this is addressed as there are tons of `SYS_*` constants now in `libc`.

[2017-11-08 14:42] alexcrichton commented on #121
Indeed!

[2017-11-08 14:42] #121 closed

[2017-11-08 18:10] pornel opened #841 "Verbose documentation"
Currently this crate doesn't document what any of its functions do. The rustdoc reference just lists the functions, but doesn't say anything about them. Understandably, this isn't strictly necessary, since all the functions here just do whatever the C libc does, so users could find documentation elsewhere. However, the complete lack of descriptions does feel unfriendly to me.

Apart from just the

[2017-11-10 09:57] alexcrichton commented on #841
I personally see the "sheer amount of work" as a huge deterrent here. There's also the matter of the semantics of a cross-platform-signature probably still having platform-specific behavior, and how we document that. In general this library is just a "header file", and like in C it's intended to be documented elsewhere.

I also feel that any documentation we write in this library is guaranteed to

[2017-11-10 13:56] pornel commented on #841
Would it be an acceptable solution to put links to external pages in doccomments instead?

[2017-11-12 10:39] alexcrichton commented on #841
I would personally still not want to handle PRs for such changes, but others may be willing to.

[2017-11-13 16:42] malbarbo commented on #834
@gnzlbg I believe that [cross](https://github.com/japaric/cross) and [trust](https://github.com/japaric/trust) already provides reusable ci infrastructure. I known you are interested in running the foreign binaries in qemy-system because of https://github.com/japaric/cross/issues/146.

I'm [trying](https://github.com/japaric/cross/pull/153) to add a qemu-system runner in cross, so I suppose we can

[2017-11-13 16:42] #834 closed

[2017-11-13 17:05] malbarbo opened #845 "Considerer using cross in our CI"
We should discuss using [cross](https://github.com/japaric/cross) in our CI infrastructure.

Pros

- easier to maintain
- support to new targets when they are added
- faster builds? (download the docker image vs build the docker image)
- ...

Cons

- not all targets are available for testing (like bsd targets, in this case we would continue to use the actual approach)
- lost of control (we are add

[2017-11-13 17:29] gnzlbg commented on #834
@malbarbo awesome, I'll subscribe there :)

[2017-11-13 23:40] alexcrichton commented on #845
I'd personally prefer to stick to custom docker images because we tend to want pretty fine-grained control over things like the libc version and versions of various tools installed, and yeah we'd still have to carry support for things like freebsd/openbsd I believe?

[2017-11-14 03:50] avkonst commented on #290
I understand this has been fixed. Could you please let me know what flag should I use with cargo to enable static linkage (i.e. to get rid of runtime dependency to vcruntime140.dll)?

[2017-11-14 03:53] retep998 commented on #290
@avkonst `cargo rustc -- -Ctarget-feature=+crt-static`

[2017-11-14 03:55] avkonst commented on #290
Thanks! I use `cargo build` and `cargo build --release` commands? Is the same flag applicable? Is there an option to set in the cargo.toml file?

[2017-11-14 04:00] avkonst commented on #290
I have found it here: https://users.rust-lang.org/t/statically-linking-to-crt-on-msvc/9755

[2017-11-16 04:48] asomers commented on #682
Actually, things aren't as bad as @mwanner thinks.  The man pages make it look like the BSDs have an extra `ifa_broadaddr` field, but it's actually a macro for `ifa_dstaddr`.  AFAICT, the only problem is on NetBSD, which adds an extra `ifa_addrflags` field at the end.

Here are links to the structure definitions, as opposed to man pages
https://github.com/illumos/illumos-gate/blob/master/usr/src/h

[2017-11-17 02:59] bstrie commented on #547
@dtolnay , I love the idea, even if it "just crazy enough to work". :P But does crates.io even allow one to upload a version that is "lesser" than the most recently-published version?

It would also still require the entire ecosystem to bump deps simultaneously, which might be a bit of a snarl...

[2017-11-17 03:26] dtolnay commented on #547
Yes, for example serde 1.0.0 was published April 20, 2017 followed by serde 0.9.16 published on April 23, 2017.

Unless I misunderstand what you mean, the whole point is to avoid the entire ecosystem having to bump deps simultaneously. Every crate that depends on libc can bump that dep independently without making their own breaking change. The approach is documented in [`semver-trick`](https://gi

[2017-11-17 08:27] bstrie commented on #547
You're not misunderstanding, I was just slightly mistaken in a variety of silly ways. :P Ship it!

[2017-11-25 22:17] alexcrichton opened #856 "aarch64-unknown-linux-musl double panic on 1.23.0+"
This is the current beta channel as of this writing. No idea why it double panics, gonna pin it to 1.22.0

[2017-11-26 15:34] shepmaster opened #858 "Does it make sense to support WASM?"
In [the Omnibus](http://jakegoulding.com/rust-ffi-omnibus/), I recommend using libc to provide the basic types when doing FFI. Trying to do so with the newly-landed WASM support yields 70+ errors.

Should libc have the basic types defined for WASM but basically no functions?

[2017-11-26 15:40] alexcrichton commented on #858
I'd personally say "no" in the sense that wasm has no libc, and hence talking about a "c_int" doesn't even really have an answer. The only FFI types in wasm right now are i32/i64/f32/f64/u32/u64 (afaik), so at least for wasm I think those are the types you'd want to use.

When there's perhaps a prevelant C compiler that can intermix with Rust code we could arbitrarily decide "that's the C ABI" and

[2017-11-26 15:58] shepmaster commented on #858
I understand your reasoning, but I also think this will make it really annoying for widely-applicable crates to be used in e.g. FFI, no-std, embedded, and wasm contexts. Is there a better solution for such types of crates?

[2017-11-27 18:10] alexcrichton commented on #858
I agree yeah that we don't want things to be super painful, but I guess at this point I feel like it's too early to make decisions about wasm and libc. I'd sort of like to gather more data on this topic before adding something to this crate where it's insta-stable and we can basically never change it.

[2017-11-27 18:22] shepmaster commented on #858
Ok. I'll go ahead and close this; hopefully if anyone can provide that "more data" in whatever form, they can add it here!

[2017-11-27 18:22] #858 closed

[2017-11-28 12:18] tpgxyz commented on #803
With rust-1.22.1 same issue

[code]

[2017-11-29 17:23] sunfishcode commented on #858
There is a C compiler that can intermix with Rust on wasm today. And it seems like for at least `int`, `short`, and `char`, (and their unsigned counterparts) there are obvious sizes which are unlikely to ever differ. Could you clarify what additional data you're looking for here?

[2017-11-30 05:08] alexcrichton commented on #858
@sunfishcode oh sure yeah I think in theory it could work but for now w/ our bundling of the linker it may not work in practice...

Also are we sure to have definitions for types like `long` and such? It's true though that if there are "obvious and unchanging" definitions for types like you mentioned then it seems fine to me to add those!

[2017-11-30 05:33] sunfishcode commented on #858
For an abundance of caution, `long` and `long long` have a slight risk. In Emscripten and plain clang on wasm32 they're 32-bit and 64-bit, respectively, and are unlikely to ever change, but it's conceivable that someone creating a new C compiler could want them to be 64-bit and 128-bit, for example.

`char`, `short`, and `int` on wasm32 are very safe at 8-bit, 16-bit, and 32-bit.

[2017-11-30 14:49] vmx opened #861 "Doing a new release for wasm"
It would be cool if someone could do a new release of libc. With d9933b77f977c42231754bbd0175dbbb945a0f96 libc is now empty on wasm32 which makes compilation smoother. With a new release it would be possible to compile [regex](https://github.com/rust-lang/regex) for wasm.

[2017-11-30 15:47] alexcrichton commented on #861
Done!

[2017-11-30 15:47] #861 closed

[2017-11-30 19:35] aochagavia commented on #858
Today I ran into this issue. I tried to compile a program to wasm, but it was impossible because I am using `rand`, which in turn depends on `libc`.

[2017-12-06 03:58] Susurrus commented on #302
I just ran into this again today with both `Eq` and `Debug`. For developing `nix` we have a large number of structs that are just newtype wrappers around `libc` types and we'd like to derive some of these traits on these structs. Many of these structs vary per-platform, and we support a lot of platforms, so it's tough to manually implement some of these.

So in the 1.5 years since this issue was o

[2017-12-06 05:52] Susurrus commented on #302
I've now filed a PR for this RFC: rust-lang/rfcs#2235

[2017-12-11 09:25] lucab opened #868 "bsd: {get,set}domainname are missing"
Currently {get,set}domainname are exposed on Linux and emscripten only. However they are implemented on BSDs too so they should be exposed there are as well:
 * https://www.freebsd.org/cgi/man.cgi?sektion=3&query=gethostname
 * https://man.openbsd.org/setdomainname.3
 * http://netbsd.gw.com/cgi-bin/man-cgi?getdomainname+3+NetBSD-current
 * https://www.dragonflybsd.org/cgi/web-man?command=getdomain

[2017-12-12 08:51] gnzlbg commented on #845
`cross` allows you to specify your own docker images, which don't necessarily need to be based on the `cross` ones (although `cross` provides some images that one can build on top). I've been able to reuse cross one in some cases (e.g. adding `objdump` for usage in `stdsimd`), but I had to specify my own in other cases (`cross` ships an "as old as reasonable" libc, and if you need a newer one, you

[2017-12-15 14:15] gnzlbg opened #874 "getauxval(3) is missing"
http://man7.org/linux/man-pages/man3/getauxval.3.html

[2017-12-18 14:14] mjbshaw opened #878 "Possible typo in comment about c_void's type"
I'm happy to send a patch for this, but I'm not 100% sure whether it's the code or the comment that's incorrect. Commit d5c4e55f6554f909e662ef9d13caeaf62663a445 added a comment to `c_void` explaining it's `#[repr(u8)]` because "LLVM expects `void*` to be the same as `i8*`".

The two types are different: `u8` and `i8`. I assume the comment is in error and meant to say `u8*`.

If both the code and c

[2017-12-18 16:15] alexcrichton commented on #878
Oh heh this is actually mostly because LLVM doesn't actually have unsigned types, it *only* has `i8` and then it has operations which act in an unsigned fashion. PRs are more than welcome to tweak this though!

[2017-12-19 14:24] mjbshaw commented on #878
Thanks for explaining that! I'll close this then. If I think of a decent way to clarify the comment (without being too verbose) I'll send a PR.

[2017-12-19 14:24] #878 closed

[2017-12-19 22:15] vi opened #881 "Split libc into types and impl crates"
C libraries (including system ones like glibc or musl) change, but C fundamentals stay put.

I expect many FFI bindings may rely only on fundamental language-provided types like `size_t` and `c_void`, not on specific library-provided ones like `sockaddr` or `FILE`.

To bring more stability to such use case, libc may be split into something like `libc-pure` with only type-level things that are expe

[2018-01-11 19:12] TimonPost opened #894 "use of unstable library feature 'libc': use `libc` from crates.io (see issue #27783)"
When I try to use libc in my rust project I get the following error for every time I call something from libc `use of unstable library feature 'libc': use `libc` from crates.io (see issue #27783)`

Cargo.toml

[code]

lib.rs:

[code]

code:
[code]

[2018-01-11 21:35] alexcrichton commented on #894
Thanks! In your Cargo.toml you're using `target_os = "unix"` but in the crate you're using just `cfg(unix)`, have you tried using `cfg(unix)` in `Cargo.toml`?

[2018-01-12 17:39] cneira opened #897 "Backport changes from Master to 0.2.19 tag"
I have a PR for adding EPOLL(5)  for illumos in master,  but crate like mio and iovec pull libc using 0.2.19 tag.  I have a branch "mio" in  https://github.com/cneira/libc  that address this. is it possible to do a PR against this tag?

[2018-01-12 18:21] alexcrichton commented on #897
Ah so currently we don't do backports in libc, but would updating to a newer version work?

[2018-01-12 21:21] TimonPost commented on #894
So now I have this in my Cargo.toml:

I have tryed your solution. But it was still not working. Then I changed this line `[target.'cfg(target_os = "windows")'.dependencies]` to `#[cfg(windows)]` and now it does work.

But now the question why is this happening.

How I now have the Cargo.toml

[code]

[2018-01-12 22:11] alexcrichton commented on #894
Oh sorry what I meant was:

[code]

The `#` character starts a comment in TOML which means that in the last comment of yours you'd just unconditionally depend on all the crates.

[2018-01-13 12:01] EternalDeiwos commented on #682
Registering an interest regarding this for Android.

I've noticed that this seems to be absent from the linux path? Specifically the following in `./unix/bsd/mod.rs`:

* [L53-61](https://github.com/rust-lang/libc/blob/master/src/unix/bsd/mod.rs#L53-L61)
* [L376-L377](https://github.com/rust-lang/libc/blob/master/src/unix/bsd/mod.rs#L376-L377)

seem to be missing from `./unix/nonbsd/mod.rs`, which

[2018-01-13 18:00] TimonPost commented on #894
Thanks that works!!

[2018-01-13 18:00] #894 closed

[2018-01-15 18:09] gnzlbg opened #899 "remap_file_pages is missing"
http://man7.org/linux/man-pages/man2/remap_file_pages.2.html

[2018-01-17 16:54] gnzlbg opened #900 "malloc_usable_size is missing"

[2018-01-17 16:55] gnzlbg opened #901 "mallinfo is missing"
http://man7.org/linux/man-pages/man3/mallinfo.3.html

[2018-01-18 09:37] gnzlbg commented on #868
@lucab could you check out the PR and see if adding `{get,set}domainname` and `gethostname` is enough to close this issue?

[2018-01-19 01:49] #868 closed

[2018-02-01 16:02] #874 closed

[2018-02-01 16:02] #899 closed

[2018-02-01 16:02] #900 closed

[2018-02-01 16:02] #901 closed

[2018-02-03 12:09] gnzlbg opened #913 "Incorrect syslog function pointer value on MacOSX / XCode 9.2"
`cd libc-test && cargo test` on master returns:

[code]

[2018-02-03 12:11] gnzlbg opened #914 "Incorrect alignment of types on x86_64-apple-darwin"
The types:

* `kevent`
* `shmid_ds`

should have 4-byte alignment, but on 64-bit macosx they have 8-byte alignment.

 This means that:

* the size of these structs is wrong
* the offset of some fields within the struct is wrong

I tried to use `#[repr(align(4))]` on these to enforce the alignment, but this did not change anything.

See https://github.com/rust-lang/libc/pull/912/files#diff-747c41e9

[2018-02-03 12:29] gnzlbg commented on #48
@dtolnay IIRC this should just be:

[code]

but I might be misunderstanding what `extern type`s were introduced for (I did not follow the RFC discussion about that back then).

[2018-02-03 12:30] gnzlbg commented on #48
Anyways any change in this direction should be done together with other breaking changes, so maybe one should label this as "worth experimenting with it for the 0.3 release" (not that a 0.3 release will ever happen until the whole `ctypes` situation progresses anyways).

[2018-02-03 12:31] gnzlbg commented on #152
Is this issue resolved? If so, we can close it.

@alexcrichton can `ctest` list missing constant / structs / functions ? That is, items implemented on the C side of things, that are not implemented in Rust ?

[2018-02-03 12:34] gnzlbg commented on #180
This an #48 look like duplicates to me, or at least part of the same overarching theme: "we need to get `c_void` right". I think it might be worth it to coalesce these issues into one now that `extern type` is implemented.

[2018-02-03 12:37] bluss commented on #180
@gnzlbg Rust's std also needs to be part of fixing this, I don't agree it is a duplicate. Great that you want to fix c_void, though!

[2018-02-03 12:57] gnzlbg commented on #547
I don't think doing a 1.0 release just for the sake of saying this crate is 1.0 is personally worth it.

However, the are a number of outstanding API-breaking issues that we might want to do at some point (finding a solution for the `ctypes` mess, removing removed functionality, updating `c_void`, etc.). That is going to require a breaking change anyways, and we might just use the occasion to bump

[2018-02-03 13:48] gnzlbg commented on #180
Oh yes, they are not exactly duplicates, #48 is about a better way to define `c_void`, and this is about "there should only be one `c_void`" (more or less).

From having read all the ctypes discussion, it looks to me that "improving" `c_void` can be done independently of all other `ctype`s, and that maybe it might be worth it to collect the problems into an issue that focus exclusively on fixing `

[2018-02-03 23:13] alexcrichton commented on #152
Sure I'm fine closing it!

@gnzlbg not currently, no, but we could always add it!

[2018-02-03 23:13] #152 closed

[2018-02-04 03:26] Susurrus opened #915 "IFF_ constants should all be c_int"
#873 added some Linux-specific `IFF_*` constants as `c_short`s, but I believe they should been `c_int`s as all other `IFF_*` constants are `c_int`.

[2018-02-04 15:23] gnzlbg commented on #881
There has been discussion about exposing a `ctypes` crate somewhere: https://github.com/rust-lang/rust/issues/36193

[2018-02-04 15:29] gnzlbg commented on #832
@alexcrichton this issue should be closed due to https://github.com/rust-lang/libc/pull/833

[2018-02-04 15:30] vi commented on #881
As Rust as a language is somewhat defined in C terms (so inherently relies on it), maybe multiple low-level primitive C types should be in `core`?

If `#[repr(C)]` directly mentions C, why not `core`?

[2018-02-04 19:01] #832 closed

[2018-02-04 19:30] gnzlbg commented on #881
Because `core` is platform-independent while `std` is platform dependent (and hence why the `ctypes` are already in `std::os::raw`). The only `ctype` that is platform independent is `c_void` AFAIK, all others can change, depending on the target platform.

[2018-02-11 15:07] marshallpierce opened #918 "MAP_FAILED won't compile when used in a match: constant evaluation error"
Playground: https://play.rust-lang.org/?gist=e8818f48e96c5828f900a0a8e940d0b3&version=nightly

This appears to only be a problem when using it in a `match`. https://play.rust-lang.org/?gist=72c4d6002213bcad7b73aa38b67373a4&version=nightly compiles just fine, for instance.

For posterity, here's the source and current error:

[code]

[code]

[2018-02-19 21:02] jbaublitz opened #921 "Interest in more netlink constants in libc"
I realize that netlink is a pretty specific use case but is there any interest in me doing a PR to include some of the standard but less common netlink constants? Currently for my crate, I compile a C extention and link to it from Rust to get these constants in my crate and I'd love to have this incorportated into this crate to keep all of the C dependencies in one place. I'm mainly focusing on th

[2018-02-19 21:21] bitshifter commented on #914
What do the C structs look like for these on macos? Do they apply some packing to lower alignment on 64bit?

[2018-02-22 08:24] faern commented on #921
I'm working on a PR to include these now. I had to add some netlink structs anyway for another use case so I'll bring in the constants you need. See #922, however, the constants have not been pushed there yet.

[2018-02-22 08:31] faern commented on #921
However, since `GENL_ID_GENERATE` was deprecated in 2016 (https://github.com/torvalds/linux/commit/a07ea4d9941af5a0c6f0be2a71b51ac9c083c5e5) I'm going to exclude that one.

[2018-02-22 12:49] gnzlbg commented on #914
See here: https://github.com/phracker/MacOSX-SDKs/blob/9fc3ed0ad0345950ac25c28695b0427846eea966/MacOSX10.13.sdk/usr/include/sys/ipc.h

You can search for the struct names in the MacOSX10.13.sdk specified there, the struct themselves have no special annotations, but the header files do have a `#pragma pack(4)`.

[2018-02-22 23:42] bitshifter commented on #914
Ah thanks, my google-fu was failing me.

[2018-02-23 00:46] gnzlbg commented on #914
Yeah MacOSX headers are not really googleable. That github repo with all headers for all MacOSX versions is just golden.

[2018-02-23 08:28] ctrlcctrlv opened #923 "`getgrent`, `setgrent` and `endgrent` are missing"

[2018-02-24 13:20] jbaublitz commented on #921
Thanks for this!

[2018-02-24 19:25] alexcrichton commented on #921
@jbaublitz there's certainly interest! Basically if it's in headers and it verifies, it should be fine to add.

[2018-02-26 16:27] alexcrichton commented on #829
This was added for s390x and sparc64, but other platforms aren't using this yet. Changing the others, though, to using this would be more than welcome!

[2018-02-26 16:37] kristate commented on #803
Trying to clean-up issues: is this still an issue @tpgxyz ?

[2018-02-26 21:50] bitshifter commented on #914
I was thinking about this issue and your example in https://github.com/rust-lang/rust/issues/48159 you could put a `[repr(packed)]` struct inside an `[repr(align(4))]` struct to get something that will work for FFI, e.g. https://play.rust-lang.org/?gist=7c5268152634aeec794c45cc4480d066&version=beta. Pretty ugly but it should allow you to progress before `[repr(packed(4))]` support is merged. Depen

[2018-02-27 10:01] gnzlbg commented on #914
Yes, an "easier" alternative is to just use an opaque type (e.g. an array of bites) and the appropriate repr(align), and then just have setters/getters for the fields.

I think we'll just wait till `repr(packed(N))` is merged, hopefully sooner rather than later.

[2018-02-27 11:27] gnzlbg opened #928 "Hard error compiling libc 0.2.36: #![feature(link_cfg)] missing ?"
[code]

[2018-02-27 11:36] gnzlbg commented on #928
Seems to only fail when building libc with `--no-default-features` on some targets:

* arm-unknown-linux-musleabi
* armv7-unknown-linux-musleabi
* i686-unknown-linux-musl
* x86_64-unknown-linux-musl

[2018-02-27 11:37] gnzlbg commented on #928
Looks like `libc`'s CI does not test building libc with `--no-default-features`... opening an issue about this: PLACEHOLDER.

[2018-02-27 11:38] gnzlbg opened #929 "libc --no-default-features is not tested in CI"
We should test this, since these builds recently broke, and nobody noticed.

[2018-02-27 13:51] alexcrichton commented on #928
Argh this definitely wasn't intentional. Although I'm not sure that the `no_std` build of the musl version of `libc` would work otherwise...

[2018-02-27 13:53] gnzlbg commented on #928
They used to work last month just fine :/

[2018-02-27 13:56] alexcrichton commented on #928
I forget which PR caused this at this point but I think it's fine to fix whenever basically

[2018-02-27 13:56] gnzlbg commented on #928
yeah I am working on a fix :)

[2018-02-27 13:57] gnzlbg commented on #928
I don't know if we just need to enable the nightly feature and require nightly for no-std builds, or if there is something better that we can do (like not using the link attribute somehow).

[2018-02-27 14:25] alexcrichton commented on #928
Yeah I don't think we should require nightly for no_std builds, but rather we just need to compile it differently when included in libstd and when included in cargo

[2018-02-27 22:46] tpgxyz commented on #803
@kristate Issue does not happen anymore. I've compiled rust-1.23.0 with llvm without problems.

[2018-02-27 22:46] #803 closed

[2018-02-28 01:59] kristate commented on #803
Great to hear, thanks!

[2018-02-28 02:02] kristate commented on #375
Trying to clean-up issues: is this still an issue @SimonSapin ? (Thanks for your work on Servo!)

[2018-02-28 02:03] kristate commented on #423
Trying to clean-up issues: is this still an issue @Zoxc ?

[2018-02-28 02:07] kristate commented on #563
@anatol Thanks for your suggestion! `libc` currently has a [CI script for style validation (ci/style.rs)](https://github.com/rust-lang/libc/blob/master/ci/style.rs), but perhaps you would like to improve upon it?

[2018-02-28 02:07] kristate commented on #684
Hi @clarcharr ! I am trying to clean-up issues: is this still an issue for you?

[2018-02-28 02:10] kristate commented on #659
Hi @marmistrz  ! I am trying to clean-up issues: is this still an issue for you?
(btw, I would recommend [lib `rand`](https://crates.io/crates/rand) or other cryptographic libraries instead of relying on `getrandom(2)`)

[2018-02-28 07:33] SimonSapin commented on #375
Yes.

The `thumbv7m-none-eabi` target is now supported by rustc, thought xargo is needed to build libcore. This issue can be reproduced by making a `no_std` crate, adding `libc = {version = "*", default-features = false}` to its dependencies, and running `xargo build --target thumbv7m-none-eabi`

[code]
[…]
[code]

[2018-02-28 09:46] FenrirWolf commented on #375
There are some newlib bindings in-tree for ARM targets now, which should get selected if you compile with the `target-env` set to `newlib` in some fashion (adding `"env": "newlib"` to a custom target spec would do the trick). But there would probably have to be some extra changes made to add thumb support and possibly to account for toolchain differences.

[2018-02-28 11:12] marmistrz commented on #659
@kristate I'm not currently working on the project which needed that, but I still consider this an issue. I should be able use `getrandom` if my libc is new enough. Otherwise, it defies the purpose of this crate.

IIRC the project did something pretty low-level and thus I wanted to use the syscall directly, but I don't remember the details.

maybe you should do a feature build, just like `gtk-rs`

[2018-02-28 12:20] SimonSapin commented on #375
A first step would be defining `c_char` and other primitive type aliases for those targets. Even if there isn’t bindings for newlib functions yet, this would already help with FFI. (`std::os::raw` is not available in `core`.)

[2018-02-28 16:18] #928 closed

[2018-02-28 16:45] Zoxc commented on #423
@kristate It is.

[2018-02-28 20:43] gnzlbg commented on #929
Fixed in https://github.com/rust-lang/libc/pull/930

[2018-02-28 20:43] #929 closed

[2018-02-28 20:44] gnzlbg commented on #684
This was fixed in https://github.com/rust-lang/libc/pull/930

@alexcrichton can you close this?

[2018-02-28 20:45] gnzlbg commented on #923
@ctrlcctrlv would you mind submitting a PR? Basically those who need a feature just add them. Adding these functions should require only minor changes to libc, ping me in the PR if you need mentoring.

[2018-02-28 23:21] raphlinus opened #932 "IPV6_UNICAST_HOPS not defined on Fuchsia"
#925 added a bunch of `IPV6_MULTICAST_*` definitions, and _mostly_ applied them consistently between notbsd unix and fuchsia, but seems to have left off `IPV6_UNICAST_HOPS` in particular from the fuchsia module. From a shallow look, it seems like a simple oversight, the fix is probably to add it with the same value as notbsd.

This is causing net2 0.2.32 to fail to compile on Fuchsia, I'm temporar

[2018-02-28 23:31] alexcrichton commented on #932
Oh yeah a PR to add any missing constants should be totally fine!

[2018-02-28 23:48] bluejekyll commented on #932
Thanks for taking care of this. Do the automated tests not cover Fuchsia today?

[2018-02-28 23:57] raphlinus commented on #932
Not covered yet, but we're hoping to at some point. It's not trivial to add because it's a whole operating system; it should be possible to ship images that run in qemu, but we don't have stable releases yet.

[2018-02-28 23:58] bluejekyll commented on #932
Thanks. I'm worried that there will be a similar problem with Redox as well...

[2018-03-01 00:47] #932 closed

[2018-03-01 03:45] kristate commented on #914
ref for `repr(packed(N))`: rust-lang/rust#33158

[2018-03-02 13:31] ctrlcctrlv opened #938 "Outdated non-POSIX FreeBSD API used by tests"
`setgrent` returned an int two years ago, but now (as of https://github.com/freebsd/freebsd/commit/786c3926a65879b5dd6c301ca9ccdfda486fd195 ) returns void. We're testing against the outdated API, which became an issue in #934

Thanks to @gnzlbg for finding the issue.

[2018-03-03 04:01] ctrlcctrlv commented on #923
Fixed in #934

[2018-03-03 04:01] #923 closed

[2018-03-06 13:19] JoeyAcc opened #940 "[Win10] libc::{uid_t, gid_t} not found"
I just tried to compile `exa` and `ripgrep` on Win10, both of which which fail with an error starting with:
[code]

From this I infer that  the libc `uid_t` and `gid_t` types don't exist on Windows.  Is this because Windows has no definitions for such types?  Or is it a matter of adding them?

[2018-03-06 14:56] alexcrichton commented on #940
Thanks for the report! If Windows has definitions for these types we can add them, otherwise this is as intended (I forget the situation here)

[2018-03-06 21:34] bdrewery commented on #938
Note that `setgrent` did not get a new symbol version in FreeBSD for the changed ABI.

[2018-03-13 21:03] tjkirch commented on #856
The timing is a bit different, but I wonder if this could be related to rust-lang/rust#48967?

[2018-03-20 03:50] kristate commented on #915
@Susurrus @LuoZijun @alexcrichton
with the #916 merge, can this now be closed?

[2018-03-20 03:54] kristate commented on #921
@jbaublitz @faern What is the current status?

[2018-03-20 04:52] Susurrus commented on #915
#916 didn't change the types for c_int, so no. That will require a 0.3 libc release to do.

[2018-03-20 09:59] faern commented on #921
This is merged and done. I'm pretty sure my PR included all the parts @jbaublitz needed.

[2018-03-20 13:55] #921 closed

[2018-03-20 13:55] alexcrichton commented on #921
Great!

[2018-03-21 18:46] paddyhoran opened #953 "Add "_aligned_malloc" on windows platform"
Hi,

I'm trying to add windows support for a another library which uses `posix_memalign`.  I have researched to the point of realizing that I need libc to expose `_aligned_malloc` for windows.

I'm willing to have a go at a PR to add it but I'm a little out of my depth...

Could someone more knowledgeable point my in the direction of a similar function already implemented in libc and I will try to

[2018-03-30 23:23] rubberduck203 opened #956 "Build failure on Ubuntu 16.04"
There aren't any build instructions beyond the `cd libc-test && cargo test` command in the README.
I'm trying to build master on Ubuntu 16.04 and getting the following panic.

I'm having trouble figuring out what's going wrong here beyond it's failing in the `cc` crate.

I'm getting the same stacktrace with or without `TARGET=x86_64-unknown-linux-gnu`.

[code]

[2018-03-30 23:49] rubberduck203 commented on #956
A little progress. I unwrapped the command it was trying to execute and manually tried it.

[code]

This results in dozens of build errors like the following.

[code]

I found the corresponding code in `target/debug/build/libc-test-822e8031de5523f8/out/main.c`

This is the offending line, but there are literally dozens of undeclared constants or defines.

[code]

I was doing kernel driver developm

[2018-04-04 08:02] mati865 commented on #956
`MADV_FREE` is unavailable in kernels before 4.5 and Ubuntu 16.04 ships with 4.4.

[2018-04-04 11:28] rubberduck203 commented on #956
Thanks. I switched over to my Arch machine running 4.15 and it works fine.

[2018-04-04 11:28] #956 closed

[2018-04-05 02:25] glandium opened #961 "libc docs fail to build with last nightly"
See this log from building PR #960 : https://travis-ci.org/rust-lang/libc/jobs/362429880
I was able to reproduce locally with current master and last nightly. Yesterday's nightly worked fine.

example from the log:
[code]

I'm not sure whether it's a legitimate regression in rustdoc that broke the magic happening in dox.rs or if it's a legitimate problem in dox.rs.

[2018-04-05 05:13] glandium commented on #961
So the funny thing is that this breaks on anything older than today's nightly:
[code]
etc.

[2018-04-05 05:35] glandium commented on #961
So, the breaking compiler change is https://github.com/rust-lang/rust/pull/48171 , and this very issue was worked around for the compiler only with https://github.com/rust-lang/libc/pull/951. And the third paragraph in that issue even mentions that `Clone` and `Copy` impls will be necessary for primitive types.

I guess the question now is whether we care about the documentation generation working

[2018-04-05 17:43] #961 closed

[2018-04-11 02:03] glandium opened #968 "PTHREAD_*_MUTEX_INITIALIZER_NP constants added in #960 are not tested"
Because ctest never sets `target_endian`, no unit tests are generated for the constants I added in #960.
Before doing any release of libc with those constants, ctest should be updated with a version that has https://github.com/alexcrichton/ctest/pull/29 merged.

[2018-04-11 02:13] glandium commented on #968
Testing current libc against the updated ctest: https://travis-ci.org/glandium/libc/builds/364910409

[2018-04-11 02:20] mcginty opened #969 "IPV6_PKTINFO missing in Darwin"
This seems to be because it's undefined unless one of either `__APPLE_USE_RFC_2292` or `__APPLE_USE_RFC_3542` is also defined ([explained in the XNU source here](https://github.com/apple/darwin-xnu/blob/master/bsd/netinet6/in6.h#L499)).

It appears to be a bit of a hairy compatibility situation, but the RFC 3542 code was added 5 years ago, so it's not exactly brand new any more. Is there any prece

[2018-04-11 15:39] #968 closed

[2018-04-20 20:25] tspiteri opened #976 "incorrect html_root_url"
Currently, the crate’s `doc(html_root_url)` is set as https:\//doc.rust-lang.org/libc/<i>&lt;target&gt;</i>, for example https://doc.rust-lang.org/libc/x86_64-unknown-linux-gnu, but that will redirect to https:\//docs.rs/libc/<i>&lt;target&gt;</i>, for example https://docs.rs/libc/x86_64-unknown-linux-gnu which simply states that the requested resource/crate does not exist.

[2018-04-20 21:05] alexcrichton commented on #976
Ah oops! The domain here is intended to be rust-lang.github.io, which should fix the issue!

[2018-04-21 17:38] aep opened #978 "TCP_KEEPINTVL and TCP_KEEPCNT for *bsd"
nix author would prefer these to be available on all bsd variants that have them before i can expose them on linux.

https://github.com/nix-rust/nix/pull/889

I don't know how bsd works at all unfortunately, otherwise i'd just open a PR.  Syscall values are probably different than on linux.

[2018-04-21 18:00] #976 closed

[2018-04-23 04:35] mcginty opened #981 "tests failing on macOS High Sierra"
This is from running the tests on my laptop.
[code]

failure output:
[code]

and here's the relevant snippet of my `/usr/include/mach/vm_statistics.h` of the conflicting VM_* constants. I'm not sure how to help with the syslog function pointer error, but happy to give more info as requested.

[code]

[2018-04-23 14:12] alexcrichton commented on #981
Thanks for the report! These sorts of things can change over time and it should be fine to tweak the values as they change.

[2018-05-01 16:39] aep commented on #978
couldn't find it in freebsd (probably this?  https://github.com/freebsd/freebsd/tree/master/lib/libc)  or openbsd (this? https://github.com/robertbachmann/openbsd-libc)   no idea how to proceed.

[2018-05-01 17:36] semarie commented on #978
a git mirror of openbsd repository is at https://github.com/openbsd/src/

`TCP_KEEPINTVL` and `TCP_KEEPCNT` are unavailable, but some others `TCP_` constants are available, see https://github.com/openbsd/src/blob/master/sys/netinet/tcp.h#L124

[2018-05-10 17:21] longshorej opened #987 "sparc64-unknown-linux-gnu and s390x fails"
*Note: below assumes https://github.com/rust-lang/libc/pull/985 is merged*

Travis configuration (as of #985) has `sparc64-unknown-linux-gnu` under `allow_failures` because https://cdimage.debian.org/cdimage/ports/debian-9.0-sparc64-NETINST-1.iso is 404ing.

It should be moved back under `include` once it's fixed up.

[2018-05-11 00:06] longshorej commented on #987
Similarly, s390x.

[2018-05-23 21:11] s3bk commented on #58
It should be possible to replace __align with `#[repr(C, align(32))]` now. Or am I wrong here?

[2018-05-29 09:21] canndrew opened #996 "bad NFT_* value errors"
When I try to run libc-test on my machine I get the following:

[code]

This is on an x86_64 Gentoo linux machine.

[2018-05-30 09:20] canndrew opened #997 "libc-test failing on x86_64 NixOS"
Running libc-test on my machine fails with this error:

[code]

[2018-05-31 11:47] mati865 commented on #665
Since https://github.com/rust-lang/libc/pull/904 tests now skip these 2 values.
Confirmed to pass tests on openSUSE Tumbleweed (rolling release distro with glibc 2.27 right now).

[2018-06-01 03:48] Susurrus opened #1006 "termios2 shouldn't exist on musl targets"
`musl` doesn't include the termios2 API, but those structs are declared by libc. They should be removed.

[2018-06-01 12:59] jackpot51 opened #1011 "Bump version to 0.2.42"
We are trying to upstream changes for Redox support, but these changes require first that a new crates.io version of libc be uploaded.

For more information, see https://github.com/redox-os/redox/issues/1184

[2018-06-01 13:54] alexcrichton commented on #1011
There's instructions in the README for how to do a release!

[2018-06-01 14:15] jackpot51 commented on #1011
Done in #1012

[2018-06-01 19:16] #987 closed

[2018-06-01 21:07] #1011 closed

[2018-06-02 16:26] Susurrus commented on #978
@aep is this issue resolved now that #982 was merged?

[2018-06-03 10:46] aep commented on #978
@Susurrus if you're happy with it, i am :)

[2018-06-03 10:46] #978 closed

[2018-06-05 06:26] scottlamb opened #1017 "fdopendir on macOS"
I'd like to use `fdopendir`, but it's missing on macOS.

Looks like 99a524d added `fdopendir` to...

   * `src/unix/bsd/freebsdlike/mod.rs`
   * `src/unix/bsd/netbsdlike/mod.rs`
   * `src/unix/haiku/mod.rs b/src/unix/haiku/mod.rs`
   * `src/unix/notbsd/mod.rs`
   * `src/unix/solaris/mod.rs`

and it was copied into `src/unix/uclibc/mod.rs` when that was created in 6e4beb6.

so it's there for everyt

[2018-06-08 16:16] asomers opened #1020 "Use Rust union types"
Rust gained a union type in [`1.19.0`](https://blog.rust-lang.org/2017/07/20/Rust-1.19.html).  libc wraps many C unions poorly, usually by pretending they're structs and ignoring some fields.  For example, https://github.com/rust-lang/libc/blob/master/src/unix/mod.rs#L156 .  libc should update all of these to use the correct union types before release 1.0.  It should be fairly easy to find them al

[2018-06-27 14:15] alexcrichton commented on #1017
Thanks for the report! It's ok for APIs to only be in one module and not others, that's what libc is all about!

[2018-06-27 14:15] #1017 closed

[2018-07-09 08:46] lilydjwg opened #1036 "ioctl request arg size for Android aarch64 is wrong?"
I was trying to call `libc::ioctl` but I got type errors with Android aarch64 target. It works fine with x86_64. The second argument `request` has different size in these targets: `c_ulong` for x86_64 and `c_int` for Android aarch64.

I believe it should be `c_ulong` for Android aarch64 too, because it works (I'm using FFI now, and I get correct data out), and my request `0xC020660B` (FS_IOC_FIEMA

[2018-07-09 14:30] alexcrichton commented on #1036
We are [verifying](https://travis-ci.org/rust-lang/libc/jobs/401112830) the definition is correct on Android aarch64, so I think this may be an oddity of C!

[2018-07-15 11:33] faern opened #1042 "Replace __align fields with #[repr(align(x))]"
This has been briefly touched in #963 and #58 but this issue intend to discuss it from a different angle.

When I grep in the libc repository I find 123 instances of `__align:`. The main problem is that instantiating a struct that uses this way to achieve alignment requires:
[code]
Which has many downsides, mainly
* needing `unsafe`
* has to be assigned to a mutable variable
* and can't be done in

[2018-07-15 11:47] faern commented on #1020
I guess we can replace existing structs with real unions. Just that it would be a breaking change, needing a major version bump?

I hope all types that represent unions are going to be implemented as unions before `libc 1.0`? The current representations feels like hacks that were basically just waiting for Rust 1.19?

[2018-07-15 12:34] faern commented on #547
Personally I feel it's very strange to keep oddities and hacks in the implementation and public API over doing a one time painful effort to upgrade code. No matter how painful it is. Because it's a one time thing vs getting a better API forever.

I think we should aim for as many breaking changes as possible for `1.0`. So that the reward for doing the job of upgrading everything pays off as much a

[2018-07-15 18:44] faern commented on #996
My guess is that you are running a somewhat older kernel? For example `NFT_SET_MAXNAMELEN` was bumped from 32 to 256 in 4.13 I believe. This is a problem with libc as it's currently implemented. It can't handle platform constants changing between versions. It does not pull in whatever value your system has, but rather a hardcoded value corresponding with the latest release of that given platform :

[2018-07-17 05:20] alexcrichton commented on #1042
Yes unfortunately the version policy for libc isn't strictly documented, but I agree that 1.25 is a bit too recent. Once we decide to upgrade to 1.25 it should be fine to remove all the private `__align` fields and use the attribute instead.

[2018-07-17 05:21] alexcrichton commented on #1020
@faern yes new types can probably use `union` as necessary, and if/when libc 1.0 happens we can switch to unions for existing types.

[2018-07-17 08:48] faern commented on #1042
Idea: Since it does not break the API, and using the `mem::uninitialized()` way of creating the structs should work equally well for the new way of doing alignment. I think one way of making it work today is similar to my brainstorming about editions, but do it with a feature that is off by default:
[code]
Since no crate depending on libc today does activate this, everything will continue to be ex

[2018-07-17 13:47] alexcrichton commented on #1042
Tha seems like a good solution to me!

[2018-07-17 14:05] faern commented on #1042
Nice. I'll play around with that and get back with my findings.

[2018-07-17 18:23] dpogretskiy commented on #981
MacOS's libc, which is somewhere in their SDK, is not based on glibc, there are a lot of inconsistencies, such as different struct layouts, same consts with different values and so on. Maybe disable libc build for OS X entirely since it's not reliable in any way, unfortunately. Other then full sanity check and somewhat reimplemenation for OSX and probably BSD targets.

[2018-07-29 05:02] sevagh opened #1046 "getresgid values different from C"
Hello. `libc::getresgid` is giving me seemingly incorrect values. I am on Linux x86_64: Fedora 28, kernel 4.17, X86_64 (Thinkpad T450 with Intel i5 processor).

Rust code:
[code]
Rust output:
[code]
C code:
[code]
C output:
[code]
Bash output:
[code]
Could this be a bug?

[2018-07-29 15:57] alexcrichton commented on #1046
Can you poke around the executables to see if there's a difference? Does `strace` report different syscalls? Does your system have a different symbol for `getresgid`?

[2018-07-29 16:06] sevagh commented on #1046
Thanks for the help Alex. Embarrassingly :cry: , I forgot that my call to `getresgid` was in a namespace:

[code]
So the values were correct, for the namespace I created with `unshare`.

[2018-07-29 16:06] #1046 closed

[2018-07-31 16:25] roblabla commented on #657
What's the use-case for the `use_std` flag ? Couldn't the crate always be no_std? The only use of that feature flag is at https://github.com/rust-lang/libc/blob/master/src/unix/mod.rs#L286. What happens if we remove that check?

[2018-08-01 05:07] alexcrichton commented on #657
Changing it can be a breaking change in some subtle situations so it wasn't turned off by deafult, but for the next major release it'll be turned off by default.

[2018-08-01 14:53] alexcrichton opened #1054 "Re-enable iOS on CI"
This started failing with a recent xcode update from Travis and had to be disabled in https://github.com/rust-lang/libc/pull/1051 due to errors like this -- https://travis-ci.org/rust-lang/libc/jobs/410547612

Looks like the simulated program is no longer printing out anything :(

[2018-08-03 00:51] Hello71 opened #1055 "locale_t etc are unusable"
[code]

[2018-08-03 19:33] alexcrichton commented on #1055
seems reasonable to me to change! It sounds like no one's likely relying on the current implementation, so we can probably tweak it.

[2018-08-07 17:02] snsmac commented on #547
The problem with platforms that make breaking API/ABI changes (BSD)  #570 should in my opinion also resolved before/with 1.0 because this issue will likely  cause problems in the future and is probably not fixable without breaking changes

[2018-08-07 17:14] gnzlbg commented on #547
@snsmac we just would need to add newer target for ABI incompatible OS versions (e.g. `x86_64-unknown-linux-gnu2`, `x86_64-unknown-linux-gnu3`, ...) and use conditional compilation inside of `libc` (and everywhere else...) to handle the different ABI incompatibilities.

But that's a backwards compatible change and therefore orthogonal to any libc versioning issues. We could do this today and would

[2018-08-07 20:41] faern commented on #1042
Support for getting rid of `__align` and making libc use `#[repr(align(x))]` was merged in #1044. Just activate the "align" feature of the crate in order to use it.

[2018-08-07 20:41] #1042 closed

[2018-08-09 07:37] SimonSapin commented on #180
New RFC to propose fixing this through `core::ffi::c_void`: https://github.com/rust-lang/rfcs/pull/2521

[2018-08-09 21:47] jbaublitz opened #1059 "Route netlink C header #define's PR?"
This is a follow up to #921 which tracks the PR that implemented genetlink constants. I maintain a [netlink library](https://github.com/jbaublitz/neli) but am now implementing the next subsystem in netlink (rtnetlink). I would like to add the constants in the rtnetlink subsystem now that I have a request to provide support for this. If I provide the PR, would you be willing to review and merge it?

[2018-08-10 00:41] alexcrichton commented on #1059
Definitely! Always willing to have more constants and defines here :)

[2018-08-10 00:43] jbaublitz commented on #1059
Great! I'll gather all of the rtnetlink constants into a PR when I get a moment.

[2018-08-12 15:45] gnzlbg commented on #1054
We are seeing these same errors in mach and packed_simd https://github.com/fitzgen/mach/issues/39, https://github.com/rust-lang-nursery/packed_simd/issues/26

cc @kali

[2018-08-12 18:10] mikebenfield opened #1060 "MAP_ANONYMOUS is missing on Mac"
On my Mac, I get this:

[code]

Now here's what's a little odd... a Google search reveals lots of people (using C) talking about MAP_ANONYMOUS being absent on Macs, which I guess is why it's not in `libc`. But it's definitely present on my system. This C program compiles:

[code]

[2018-08-13 23:48] alexcrichton commented on #1060
Interesting! If it compiles maybe it was added recently? In any case if it exists then it should be good to add! Our CI will catch it if it's not defined

[2018-08-14 01:27] jakllsch commented on #682
The NetBSD situation with ifa_addrflags is complicated.  The still-supported NetBSD 7.x release series does not have the ifa_addrflags field, while the NetBSD 8.x release series and -current do.

I've not looked closely as to what this particular difference means for compatibility of binaries. The lack of OS-level ABI/API breaking-change handling in the libc crate leaves a lot to be desired…

[2018-08-14 01:40] jakllsch commented on #570
I've run into this issue while trying to ascertain the correctness of the libc crate on NetBSD 7.x and 8.x.  The current situation has the libc crate using some combination of 7.x and 8.x ABI/APIs, while the official distribution artifacts for x86_64-unknown-netbsd currently target 7.x.  Both NetBSD 7.x and 8.x are currently-supported release serieses.

I really want a way to express these and fut

[2018-08-16 00:14] alexcrichton opened #1064 "Re-enable sparc64 on CI"
Disabled due to https://github.com/rust-lang/libc/pull/1063#issuecomment-413353503

[2018-08-20 16:19] vext01 opened #1066 "`dl_iterate_phdr()` and ELF friends only defined on Linux and Fuchsia."
Hi,

I'm writing a library around the `dl_iterate_phdr` API, and want it to be portable.

I've noticed that `dl_iterate_phdr`, its types, and constants, are defined only on Linux and Fuchsia for now:

[code]

[code]

[code]

AFAIK, all of this stuff if present on the BSDs. The ELF stuff is a standard ABI (although different for 32/64-bit arches) that could be shared across all platforms, but some

[2018-08-20 17:26] alexcrichton commented on #1066
Feel free to send PRs for other platforms!

[2018-08-24 16:45] #1064 closed

[2018-09-06 08:17] drrlvn commented on #1036
I'm having this same issue but with `x86_64-unknown-linux-musl` where `request` is `i32` as opposed to `u64`. What do you mean an oddity of C? Is this not a bug in libc?

[2018-09-06 10:17] lilydjwg commented on #1036
I've digged into this a little bit deeper. Technically unless the `request` is larger than 32 bits,  this type difference in C results in the same kernel behaviour (the assembly I got was different but the data passed to kernel was the same).

Android has different header files than glibc's one. Maybe it's the same situation for musl.

[2018-09-13 05:42] tbu- opened #1079 "Test for `ucontext_t` fails on my Linux machine"
[code]

glibc 0.28
Linux 4.18.6.arch1
Arch Linux

`ucontext_t`, from /usr/include/sys/ucontext.h:
[code]

[2018-09-13 05:47] tbu- opened #1080 "Test for `NFT_MSG_MAX` fails on my Linux machine"
[code]

glibc 0.28
Linux 4.18.6.arch1
Arch Linux

`NFT_MSG_MAX`, from /usr/include/linux/netfilter/nf_tables.h:
[code]

It seems like
[code]
were added and thus `NFT_MSG_MAX` increased. Linux doesn't consider this a breaking change. I'd assume that more messages might be added in the future, so just adjusting the constant in libc as a breaking change doesn't seem to be useful.

[2018-10-14 12:53] jack-pappas commented on #1060
It looks as though the constant is called ``MAP_ANON`` on OSX, although the mmap.h header also defines ``MAP_ANONYMOUS`` as an alias:
https://github.com/apple/darwin-xnu/blob/0a798f6738bc1db01281fc08ae024145e84df927/bsd/sys/mman.h#L127

[2018-10-14 18:00] gbip commented on #375
Is there someone tackling this issue ? This is a blocking issue for an embedded project. If it is just defining type aliases I can take care of it :smile:

[2018-10-14 22:01] SimonSapin commented on #375
Since this issue was opened, some `thumb*` targets have been added to be built-in in the compiler: https://forge.rust-lang.org/platform-support.html. I think it makes sense to make the `libc` crate compile out of the box for those targets, and provide at least the `c_*` type aliases. @gbip, wanna make a PR?

[2018-10-15 06:44] gbip commented on #375
Yes I will try to tackle this issue within the end of this week !
Can anyone give me a little insight on where should I look ?

[2018-10-15 07:31] SimonSapin commented on #375
I’ve filed https://github.com/rust-embedded/wg/issues/238 to ask for guidance from the Embedded WG.

[2018-10-15 07:51] FenrirWolf commented on #375
Yeah, it probably would make sense to move the `newlib` stuff out from under the `unix` folder.

[2018-10-15 16:30] gbip commented on #375
It seems like that all the newlib stuff isn't really related to bare metals programs.

[2018-10-15 17:35] FenrirWolf commented on #375
newlib exists in a funny spot. its default configuration is aimed towards bare-metal systems without OS features, but it's also designed to have its functionality extended by end-users to support things like stdio and file io. the main place I've encountered newlib is in toolchains for game console homebrew, and those target everything from the Game Boy Advance (basically bare-metal) to the Ninten

[2018-10-15 20:30] gbip commented on #375
I think if we go with `cfg(target_arch = "arm", target_os = "none")` this should make FFI in the bare metal world possible, without closing the door for someone to implement more fonctionality for other arm based plateforms.

Would you be ok if I create an *arm* module containing the *none* module with type aliases for bare metals arm plateforms.

If someone would like to add features for game con

[2018-10-15 20:46] FenrirWolf commented on #375
I'm completely fine with that. I'd only added the existing bindings under `unix` because it suited my own purposes at the time, but in retrospect that was a mistake. it makes much more sense to put the bindings in a more sensible location that serves a wider variety of needs.

[2018-10-15 21:01] gbip commented on #375
Maybe it is better suited to leave them there and to create a `none` module for different bare metals system ?

[2018-10-15 21:39] FenrirWolf commented on #375
That might work. To clarify, my own case is running homebrew on the Nintendo 3DS, and while the system itself isn't actually a unix-alike, the newlib-based toolchain that I use in tandem with Rust code has extensions for things like file systems, stdout, network IO, and some other functionality that makes it so you can interact with the system with a very unix-like interface. And @ischeinkman has

[2018-10-15 21:40] ischeinkman commented on #375
Would it make sense to gate `newlib` extensions behind feature flags for `os="none"` targets and making the `family="unix"` case just be the enabling of all the gated features?

For example the `stdio` functions can be gated behind `#[cfg(any(feature="newlib-stdio", unix))]` so that a) no existing targets are broken and b) any embedded targets can mix and match the functionality they need without

[2018-10-16 06:14] gbip commented on #375
I think this is a very good way to do it.
I will tackle this implementation before the end off the week if the maintainer are ok with it !

[2018-10-16 08:45] xoac opened #1094 "support for RS485"
Hi,
There exist crate [rs485](https://github.com/mbr/rs485-rs/blob/master/src/lib.rs#L49) that define const from libc. The problem is that `ioctls` change signature depending on system platform (for example it accept `c_int` when using musl on x86 and `c_ulong` when use glibc on x86_64). So compilation fill when musl is involved:

[code]

It would be nice to add  this constants (`TIOCGRS485`, `TIO

[2018-10-16 14:16] alexcrichton commented on #1094
Looks like you've got a [PR for this](https://github.com/rust-lang/libc/pull/1095), which sounds great to me!

[2018-10-23 06:11] gz opened #1103 "Missing declaration of SCM_TIMESTAMPING in x86-32?"
The SCM_TIMESTAMPING declaration is available in 64bit
https://github.com/rust-lang/libc/blob/4bd52f5e3ef5d6c8abdd1fbaf7c9975800a0dc93/src/unix/notbsd/linux/other/b64/x86_64.rs#L375

but missing in the 32bit version:
https://github.com/rust-lang/libc/blob/8565755356f23baf6b2df933ff734ce2f00c8d9b/src/unix/notbsd/linux/other/b32/mod.rs#L207

Is it possible to add this? Also since it is a linux kerne

[2018-10-23 06:16] gz opened #1104 "Missing definitions for SOF_TIMESTAMPING_*"
The SOF_TIMESTAMPING_* definitions from https://github.com/torvalds/linux/blob/master/include/uapi/linux/net_tstamp.h are currently missing. Would it be acceptable to add these? I'm happy to submit a pull request if someone can advise me where the best place to put them is.

This issue is currently blocking https://github.com/nix-rust/nix/pull/902

[2018-10-23 07:40] alexcrichton commented on #1103
Thanks for the report! So long as our CI passes it should be good to add this!

[2018-10-23 07:40] alexcrichton commented on #1104
Similar to https://github.com/rust-lang/libc/issues/1103, a PR would be most welcome! So long as CI passes we should be good to go

[2018-10-29 15:16] gnzlbg commented on #981
This means that people can't target some SDK versions with libc. These constants changed again in xcode10. I can update them, but then people will stop being able to target xcode9.2 with them. What's worse is that if the std library use them as options to apple APIs, well depending on the system we might be calling APIs with different options =/

[2018-10-29 15:42] gnzlbg commented on #1054
With xcode10, https://github.com/rust-lang/rust/issues/55477, `x86_64-apple-ios` and `i386-apple-ios` actually fail to link, so libc does not compile anymore for these targets apparently.

[2018-10-29 16:41] gnzlbg commented on #375
This might be a dumb question, but couldn't we just add a `thumbv7m-newlib-eabi` target that has ""`newlib` as a platform"" instead ? (or `target_os = newlib` or similar).

That might be something that's easier to support from libc.

[2018-10-29 17:28] gbip commented on #375
I think you should take a look at #891 #753 :smile:

[2018-10-29 17:39] gnzlbg commented on #375
My question was whether it is a dumb idea to just add a bare-metal target that has `newlib` as its libc (e.g. `thumbv7m-newlib-eabi`).  That means, that instead of trying to polyfill parts of `libc` generically for `none` targets, which is controversial, we would just need to add FFI bindings for `newlib` for those targets, which should be fairly uncontroversial since those targets do have a `libc

[2018-10-29 17:40] FenrirWolf commented on #375
Usually the libc variant corresponds to `target_env` rather than `target_os`, so maybe the triple would be `thumbv7m-none-newlibeabi`?

[2018-10-29 20:29] alexcrichton commented on #375
Ah yeah what @gnzlbg mentioned is what we've done historically, although we don't need to necessarily add a target to rustc. We can add support in the libc crate for `target_env = "..."` custom things, and then custom target specs could set that for example

[2018-10-30 16:01] asomers opened #1113 "libutil is overlinked"
@kamalmarhubi added `-lutil` in 9c4af10 for `openpty` and friends.  However, since then people (including me) have gotten sloppy and added way too many functions to the `libutil` sections.  We should go through the list and purge it.  This command can help: `find /usr/share/man -name '*.gz' -exec zgrep -l '\.Lb libutil' '{}' \+`

[2018-10-30 22:24] #856 closed

[2018-10-31 16:08] #1113 closed

[2018-11-04 21:56] japaric commented on #375
@gbip what's your use case? If you only need type aliases for the C types (e.g. for bindgen) you can use the [`cty`](https://crates.io/crates/cty) crate.

`libc` for bare metal (target_os / target_env = none) targets doesn't make much sense to me. The `libc` crate is for programs that link to libc.{a,so} (`libc` appends `-lc` to the linker flags) and bare metal programs don't link to libc.a. If yo

[2018-11-05 15:39] gbip commented on #375
Thanks a lot, I was not aware that this crate existed !

[2018-11-06 16:52] gnzlbg opened #1120 "CStr should be in libc and libstd should re-export that"
Currently `CStr` lives in `std::ffi` which means that it cannot be used in `core`+`libc` projects without requiring `libstd` as well.

This type cannot go into `core` because it is platform-dependent (e.g. on `libc::c_char`), but it could be moved down to libc (without the `use_std` feature), when `use_std` is enabled, `libc` could just re-export the type from `std`.

[2018-11-06 17:22] #1120 closed

[2018-11-19 13:32] gnzlbg opened #1125 "Remove support for targets without libc"
@japaric correctly pointed out in #375 that the `libc` crate is for linking against `libc`.

We currently have a lot of hacks and workarounds to "support" a variety of targets that do not have a libc, are often only interested in c types and would be better served by using the [`cty` crate](https://crates.io/crates/cty), and that actually we don't really "support" because we don't even test that w

[2018-11-20 17:36] alexcrichton commented on #1125
@gnzlbg given our discussion on IRC, would you be ok closing this?

[2018-11-20 17:50] gnzlbg commented on #1125
Yes, to summarize the discussion: libc should always compile. In targets that are not supported (e.g. because they haven't been implemented yet, have no libc, etc.), the crate should just be empty.  This is also what winapi-rs does.

I discussed this with @retep998 as well, and this approach has pros and cons.

The big pro is that if code that uses libc gets compiled to an unsupported platform, it

[2018-11-20 17:50] #1125 closed

[2018-11-20 23:21] palfrey commented on #981
I've just hit a similar issue with 10.14 and NET_RT_MAXID (10 in git, 11 in 10.14). Does anyone know of a `cfg!` way or similar to match a OS X version?

[2018-11-20 23:47] gnzlbg commented on #981
You might want to check the `mach` crate. It has a `mach-test` crate inside like `libc-test` crate, which contains some code for detecting the `osx` version and using that with ctest: https://github.com/fitzgen/mach/blob/master/mach-test/build.rs#L4

[2018-11-22 03:15] WillYee opened #1135 "nl_pad is private and is required to be initialized for sockaddr_nl"
https://github.com/rust-lang/libc/blob/5b403753da9ec8ff501adf34cb6d63b319b4a3ae/src/unix/uclibc/mod.rs#L82

I was able to fix this buy marking nl_pad as pub

[2018-11-22 06:52] przygienda opened #1136 "0.2.44 breaks fairly recent compiler"
[code]

[2018-11-22 07:49] gnzlbg commented on #1136
Damn, we recently lowered the required Rust version for `core::ffi::c_void`, maybe that was one version too low. Which Rust version are you using? `rustc --version`

[2018-11-22 07:53] gnzlbg commented on #1135
PR welcome :)

[2018-11-22 08:39] gnzlbg commented on #1136
So I've added a build bot to check that everything still works with `1.30.0` (https://github.com/rust-lang/libc/pull/1138), so that does not appear to be the case.

It would be very helpful to know which compiler version you are using, and ideally a minimum working example that reproduces the issue.

[2018-11-22 15:37] przygienda commented on #1136
.../rustc --version
rustc 1.30.0-nightly (f7202e40f 2018-08-27)

[2018-11-22 15:38] przygienda commented on #1136
linux cross-compiling into a BSD variant ...

[2018-11-22 15:47] gnzlbg commented on #1136
I see. So this breakage is intended. That nightly is both too new - part of the 1.30 cycle - and too old: older than the first nightly in the 1.30 cycle that had `core::ffi::c_void` type. So when libc checks for Rust version >= 1.30 that returns true for your nightly.

We could patch the `build.rs` to detect whether its a nightly, and its date, and only enable `c_void` in new enough nightlies. Alt

[2018-11-22 15:47] mati865 commented on #1136
It was merged in 1.30 nightly on 2018-09-17: https://github.com/rust-lang/rust/pull/53910

You should use stable Rust version or more recent nightly.

[2018-11-22 16:46] gnzlbg commented on #1136
I'm closing this as it is probably "INVALID"/"WONT FIX".

[2018-11-22 16:46] #1136 closed

[2018-11-22 16:52] gnzlbg commented on #1080
This is expected, the values of constants changes across different kernel versions. Sadly, the different in sizes here will probably lead to undefined behavior.

[2018-11-22 16:59] gnzlbg commented on #1079
Sadly, the different in sizes here will probably lead to undefined behavior.

[2018-11-22 17:34] gnzlbg commented on #969
PRs welcome.

[2018-11-22 17:36] gnzlbg commented on #953
@paddyhoran I can mentor your with your PR, just take a look at the `windows.rs` module: https://github.com/rust-lang/libc/blob/master/src/windows.rs#L201 You just need to add an extern function for it there. You can find its API here: https://msdn.microsoft.com/en-us/library/8z34s9c6.aspx

[2018-11-22 17:37] gnzlbg commented on #940
@tavianator 's comment hints that this is not something we should fix. Feel free to reopen this if I've misinterpreted it.

[2018-11-22 17:37] #940 closed

[2018-11-22 17:43] gnzlbg commented on #918
This appears to be fixed - the playground link works now.

[2018-11-22 17:43] #918 closed

[2018-11-22 17:44] gnzlbg commented on #915
How come ctest did not catch this ?

[2018-11-22 17:47] gnzlbg commented on #914
packed is now used when building from within std - i'll open another issue to track the packed(N) stabilization

[2018-11-22 17:47] #914 closed

[2018-11-22 17:49] gnzlbg opened #1140 "Use repr(packed(N))"
Some structs are annotated with `#[repr(packed(N))]` when building from within standard because otherwise they have the wrong size / alignment. However, it is not available on stable Rust yet.

See https://github.com/rust-lang/rust/issues/33158 .

We should probably add a `packed` cargo feature to allow users to select these on nightly similarly to how `core::ffi::c_void` was handled.

[2018-11-22 17:50] #913 closed

[2018-11-22 17:50] #897 closed

[2018-11-22 17:52] gnzlbg commented on #881
FYI `c_void` is already in `core::ffi` - if you only want ctypes, you should check out the `cty` crate.

[2018-11-22 17:52] #881 closed

[2018-11-22 17:53] #752 closed

[2018-11-22 17:56] gnzlbg commented on #716
Anyone interested on working on this anytime soon? It appears that @vojtechkral suggest a way to solve this. I can mentor.

[2018-11-22 18:09] gnzlbg commented on #829
Status update: @malbarbo added qemu-system support to cross - most targets can choose between using `qemu-user` or `qemu-system` when running tests.

[2018-11-22 18:17] gnzlbg commented on #519
FYI the `mach` crate provides (some) of these APIs similar to the `winapi` crate. I don't know what the long term plan for `libc` is, but kernel APIs is probably out-of-scope.

I think things would be cleaner if we had independent crates for each platform instead of throwing everything together into a single crate and gluing things with `cfg`s all over the place.

[2018-11-22 18:20] gnzlbg commented on #423
Platforms break ABI compatibility all the time due to changes in the values of constants, enums, sizes and alignment of structs, even signature of functions.

As long as libc does not use a binding generation, every single libc version targets a specific version of an API, and has undefined behavior on all others.

[2018-11-22 18:35] gnzlbg commented on #375
So I'm going to close this issue for two reasons:

* since libc 0.2.44 libc is now empty for unsupported targets, so compiling it for a new target should always succeed

* we already have a certain level of `newlib` support: https://github.com/rust-lang/libc/tree/master/src/unix/newlib - if this is not enough, please fill in a more focused issue to address this, this issue has derailed a bit.

[2018-11-22 18:35] #375 closed

[2018-11-22 18:37] gnzlbg opened #1142 "Policy of supported platform version for constant values"
We have many bugs where the value of a constant does not match the value of the constant in the users system.

I think that, at least for constants, we should support the latest released version of the platform, and that we do not consider upgrading a constant value a breaking change.

If the `libc` crate ever gets support for multiple versions of the same platform, we should revisit this policy.

[2018-11-22 18:55] gnzlbg commented on #570
@alexcrichton

So what do we do with the stuff that's in libc but broken? You mention that if a symbol changes, you get a linker error, but what happens if the symbol does not change, and the API does ? What do we do with `const` that have incorrect values ?

I see at least two actionable alternatives: we deprecate broken stuff or we update it to some platform version. It appears that, currently,

[2018-11-22 19:20] gnzlbg commented on #682
It seems that a lot of work has happened here already. What exactly remains to be done here?

[2018-11-22 20:34] #1060 closed

[2018-11-23 11:39] gnzlbg opened #1143 "Fuchsia is part of the main cfg_if switch but also part of unix"
See: https://github.com/rust-lang/libc/search?q=fuchsia&unscoped_q=fuchsia

Fuchsia has a top-level module fuchsia, but it also has stuff in src/unix/notbsd/mod.rs and src/unix/notbsd/linux/mod.rs .

Does `target_os` linux return `true` for `fuchsia` ?

[2018-11-23 12:09] #651 closed

[2018-11-23 16:03] mwanner commented on #682
I agree, `ifa_broadaddr` has vanished, it seems.

[2018-11-23 16:03] #682 closed

[2018-11-23 16:33] alexcrichton commented on #915
@gnzlbg constant in C don't really have a type, so ctest can only test the bit pattern of constants, not the types unfortunately :(

[2018-11-23 16:34] alexcrichton commented on #1142
I agree! For now upating constants as they're updated on the system hasn't caused problems and seems like we should continue to do so

[2018-11-23 16:35] alexcrichton commented on #1143
These are likely copy/paste errors perhaps?

[2018-11-23 18:56] kornelski commented on #716
Should this be in the 1.0 roadmap? #547

[2018-11-23 20:48] xoac commented on #1094
@gnzlbg I think no -- I just added implementation to musl target and it's still missing for others. I don't need more since I use just musl -- but I think rs485 crate will still fail to compile on others platform.

[2018-11-24 10:55] palfrey opened #1148 "Docker build issues on Travis"
Seeing this for various builds on #1130 and #1146 and probably some other PRs. Errors vary, but some examples are:
* https://travis-ci.org/rust-lang/libc/jobs/459072481
[code]
* https://travis-ci.org/rust-lang/libc/jobs/459075930
[code]
* https://travis-ci.org/rust-lang/libc/jobs/459075937
[code]

None of them AFAIK have anything to do with the PRs in question, but are making testing/merging much

[2018-11-24 11:58] gnzlbg commented on #547
So this is my attempt at an abstracted summary of the discussion so far.

First, there is a strong consensus that new `libc` releases should be backwards compatible with `libc 0.2.`. Second, I think that these two groups of issues characterize most arguments given in favour of doing a new release:

- **Using new features**: a new version of `libc` should properly use new Rust features -  `union`,

[2018-11-24 14:14] gnzlbg commented on #915
Ah, I thought that there was a problem with their value.  Maybe one could do a crater run to see what changing these to `c_int` would break ?

[2018-11-24 14:15] gnzlbg commented on #1148
I've retried this, sometimes CI times out for a variety of reasons. I don't know if there is something that we can do about this specific error.

[2018-11-24 19:01] tbu- commented on #547
As I understand it, we'd only have to do one final libcpocalypse (the second one), because with https://github.com/rust-lang/rfcs/pull/1977, Cargo would understand public dependencies and thus version conflicts between two crates using different versions of libc cannot happen, because Cargo would always resolve the two crates' libc version to the same one.

Is my understanding correct?

[2018-11-24 19:32] palfrey commented on #1148
I'm pretty sure this is actually just something wrong with Travis, and so I've finally given in and emailed their support email :)

[2018-11-24 19:40] SimonSapin commented on #547
A lot of FFI crates use libc types in their public API, so libc is a public dependency. So Cargo being aware that some (other) dependencies are private is not gonna help a lot there.

However a lot of the type mismatches between libc 0.1 and 0.2 were about `c_void`. Now that we have `c_void` in the standard library and libc re-exporting it, that’s one fewer source of incompatibility between 0.2 an

[2018-11-25 09:36] alexcrichton commented on #915
Seems plausible!

[2018-11-25 20:48] gnzlbg commented on #1148
cc @kennytm

[2018-11-26 12:31] palfrey commented on #1148
Build is improved (at least for #1130), but still slightly off. https://travis-ci.org/rust-lang/libc/jobs/459715534 is the only failure of the last one, and that's a `curl: (28) Operation timed out after 300808 milliseconds with 0 out of 0 bytes received` which might eventually be worth using a [travis_retry](https://docs.travis-ci.com/user/common-build-problems/#travis_retry) on

[2018-11-26 20:11] alexcrichton commented on #570
@gnzlbg afaik all we can really do is just do our best as it comes up. I'm not sure we need to preemptively make policies here but rather we can see what policies we need later down the road if necessary.

[2018-11-26 22:03] #1148 closed

[2018-11-27 10:38] #1104 closed

[2018-11-27 10:38] #1103 closed

[2018-11-27 10:39] #997 closed

[2018-11-27 17:48] cramertj commented on #1143
It used to live in `unix/` but then got moved to a separate `fuchsia/`. I'm guessing I missed removing these when I made that change.

[2018-11-28 09:51] semarie commented on #570
I am still sad about that.

Please remember that currently FreeBSD 12 uses a compatibility layer for `ino_t` (FreeBSD 11 uses 32bits version, and FreeBSD 12 64bits) and silenciously truncate inode values if not representable on 32 bits. One day it will hurt, and it could be badly.

Refusing to accept the reality that OS introduces breaking changes from time to time, and enforcing that at libc leve

[2018-11-28 10:47] gnzlbg commented on #570
That OS introduce breaking changes is a fact, and AFAICT everybody agrees that this is a problem.

I personally haven't heard a solution to this problem that did satisfy our constraints and did not have major downsides. Most proposed solutions have a high cost and the actual added value of solving this problem is unclear - this is a very tricky problem to solve correctly.

For the FreeBSD case, th

[2018-11-28 14:52] asomers commented on #570
For FreeBSD, I think the easiest solution would be to add a default-on `freebsd11-compat` feature flag to libc.  When on, libc binds the FreeBSD 11 version of symbols like `struct stat`.  When off, it binds to the FreeBSD 12 version.  This wouldn't require introducing any new target triples.  However, that technique wouldn't help OpenBSD users.  OpenBSD pretty much needs a new target triple for ea

[2018-11-28 18:35] raphaelcohn commented on #570
@gnzlbg @asomers Whilst such techiques are likely to work, the downside is that a large number of 'legacy' triples accumulates over several years. Over a decade, a large number of the *BSD triples would effectively be obsolete, and hence challenging to maintain (The "matrix of pain" grows too large even for an experienced team).

One only has to look at GNU's disastrous `config.sub` / `config.gues

[2018-11-28 19:33] gnzlbg commented on #570
@raphaelcohn I agree that these approaches have downsides. I agree with you that:

And for `windows` the `winapi` crate already does this. For `macos` there are actually a couple of system libraries, and these are not exposed in one but in many crates. So each platform could have its own crate (e.g. `freebsd`, `openbsd`, etc.) with its own release schedule, and as long as the fundamental types (e.

[2018-11-28 19:58] ssokolow commented on #570
What a coincidence. I don't see much on this topic for years and years and now, in the same month, not only you but also the Linux developers were discussing ideas in this vein:

* https://www.phoronix.com/scan.php?page=news_item&px=Linux-Propose-System-Wrap-Lib
* https://lkml.org/lkml/2018/11/10/470

[2018-12-03 09:34] raphaelcohn commented on #570
@gnzblg I agree it would be a backwards incompatible change; it really depends how it is handled. At the moment, libc is 'stuck' in a 0.2 series of releases and so there is an opportunity - although it would require a major effort. Something like 6 months full time, I suspect, just to get a new, robust and agreed shape together.

I was thinking a little more over the weekend inspired by

and I thi

[2018-12-03 17:01] gnzlbg commented on #570
FYI the [`llvm-sys` crate](https://github.com/tari/llvm-sys.rs) provides bindings to different incompatible LLVM version, and it does so by maintaining different branches for each LLVM version, and different major crate versions: e.g. `llvm-sys` versions 50.0.0, 60.0.0, 60.1.0, .. which correspond to LLVM versions 5.0.0, 6.0.0, 6.0.1, etc. The patch version number is used to release newer versions

[2018-12-03 17:13] ssokolow commented on #570
@raphaelcohn

I have no idea what you're talking about. What centralizing?

The idea proposed is that, since glibc sometimes lags behind on wrapping Linux syscalls, maybe the Linux kernel devs should provide a Linux kernel syscalls library to ensure that they're available in a timely manner. It'd be no more centralized than having the same people maintain both the kernel source and the kernel menu

[2018-12-05 08:47] raphaelcohn commented on #570
@ssokolow Given the way you describe the Linux kernel syscalls library proposed, then I don't see anything about it that couldn't also be provided by a similar Rust wrapper. That said, a large part of the effort in libc's like musl is cleaning up the inconsistency in Linux's syscalls and associated data structures and occasional mismatch with POSIX APIs.

[2018-12-05 09:10] tklauser opened #1162 "Enable tests for AF_XDP, PF_XDP and SOL_XDP"
#1161 added `AF_XDP`, `PF_XDP` and `SOL_XDP` but the tests for them are disabled because these constants are not yet in a glibc usable by the docker images.

Once the docker images are updated to a version containing a libc with these constants, the tests should be enabled by removing the following lines from `libc-test/build.rs`:

[code]

[2018-12-05 17:00] asomers opened #1163 "Consider moving FreeBSD tests to Cirrus-CI"
libc's FreeBSD tests are currently using QEMU on Travis-CI.  This is bad for three reasons:
1) It's slow
2) It's complicated
3) Somebody (@wezm I believe) has to build a new image for every release.

Cirrus-ci.com just launched their new FreeBSD service.  It works much like Travis, but it has the option of using full VMs instead of just containers.  They currently provide images for four different

[2018-12-05 21:15] wezm commented on #1163
I updated them last time out of need (to get the build to pass with a change I had made) and documented the process. Having Cirrus manage this sounds like it's work trying.

[2018-12-06 08:46] gnzlbg commented on #1163
@alexcrichton thoughts ? This requires enabling Cirrus-CI for `rust-lang/libc`, I don't know exactly which permissions Cirrus-CI would like to have, but as long as they are reasonable it might be worth it to enable it and let those interested send PRs to support it.

The same applies to https://builds.sr.ht/ which offers native FreeBSD and OpenBSD VMs. It's in beta, but they said that if we are in

[2018-12-06 13:04] gnzlbg commented on #1163
@alexcrichton it seems that Cirrus-CI requires:

[2018-12-06 15:35] alexcrichton commented on #1163
Seems plausible to me to set up!

[2018-12-07 17:11] asomers commented on #1163
@alexcrichton if you're willing, please follow the instructions at https://cirrus-ci.org/guide/quick-start/ to configure the Cirrus CI application on libc's github repo.  Stop when you get to the "Post Installation" step.  I can submit a PR to do the rest.

[2018-12-07 19:43] alexcrichton commented on #1163
Ok that's been done! Or at least I'm pretty sure it's done

[2018-12-08 14:59] #1163 closed

[2018-12-09 02:34] alexcrichton opened #1170 "Fix flakiness of Android builds"
In https://github.com/rust-lang/libc/pull/1159 I'm configuring some android builds under "allowed failures". They've been insanely flaky recently and are basically just serving as preventing things from landing currently. This issue is intended to track re-enabling these as gating by default on CI

[2018-12-10 09:38] gnzlbg commented on #1170
I don't know exactly why these stall. Sometimes things fail to download, so maybe retying multiple times would help, but some times the installer just hangs waiting for a `Y/n` input =/

[2018-12-10 22:23] asomers opened #1173 "Switch from Homu to Bors"
libc currently uses an instance of Homu as a merge bot.  It's configuration is stored at https://github.com/rust-lang/rust-central-station .  However, Homu has been unmaintained for over two years.  It doesn't understand the GitHub check-suite API, which means it can't work with Cirrus-CI.  Travis is also moving to the check-suite API, and new features might not be reported through the old status

[2018-12-10 22:42] gnzlbg commented on #1173
See https://internals.rust-lang.org/t/proposal-move-to-bors-ng/5334

[2018-12-17 09:01] ariasuni opened #1178 "Add statx linux system call so we can implement fs::Metadata::created on Linux"
Right now, `std::fs::Metadata::created` returns an `Err` on Linux. But the creation time is available with the `statx` system call.

https://unix.stackexchange.com/a/407305/289105

[2018-12-17 16:37] alexcrichton commented on #1178
Should be fine to send a PR to add this API!

[2018-12-17 22:23] gnzlbg commented on #1178
We haven't added other syscalls in the past (e.g. `memfd_create`: https://github.com/rust-lang/libc/pull/902#issuecomment-361280295). There is nothing blocking using this syscall in `std::fs` btw, you can just use `syscall` to call it yourselfe, like, e.g., I did with `memfd_create` here: https://github.com/gnzlbg/slice_deque/blob/master/src/mirrored/linux.rs#L18

[2018-12-18 02:32] ariasuni commented on #1178
@gnzlbg There is a `statx()` wrapper in glibc but the man page is not up-to-date (fixed upstream but not yet released).

I’m not sure what’s the best way to access the creation information under Linux (if I want to implement a workaround in the meantime), since you mentioned using the syscall directly (note btw that there’s no `SYS_statx` in the `libc` crate).

[2018-12-23 20:08] pietroalbini commented on #1173
Note that homu [now supports the GitHub Checks API](https://github.com/rust-ops/homu/pull/10). We're going to test it with Cirrus CI soon.

[2018-12-28 04:06] pusateri commented on #1080
Same issue on Ubuntu 18.10 cosmic
[code]

[code]

[2018-12-28 09:50] gnzlbg commented on #1080
As mentioned, this is expected behavior, that version of Linux is not supported by libc.

[2018-12-28 09:51] #969 closed

[2018-12-28 09:51] gnzlbg commented on #969
Thanks!

[2018-12-31 18:13] scoiatael commented on #940
Hey, sorry if that's not the best place to ask this question: would you be opposed to including these types and related functions under Windows MinGW build? MinGW provides (I think) more or less full `unistd.h`. I'd be happy to open a PR :)

[2019-01-02 00:09] inferiorhumanorgans opened #1190 "utsame struct is incorrectly defined on FreebSD"
On FreeBSD utsname struct is defined with 32 character-wide arrays for the kernel interface and 256-wide arrays for the userland interface.  The userland interface is a small inline function in `sys/utsname.h` that calls the kernel interface and explicitly requests longer fields.  Unfortunately rust is calling the kernel interface directly and only getting arrays that are 32 characters in length.

[2019-01-02 02:17] inferiorhumanorgans commented on #1163
This would be good to mention in the top-level README.  Currently the tests badge links to appveyor (windows tests only), there's a link further down in the README to the travis-ci bits (Linux, Apple), but none for Cirrus (and I'm not sure what the URL is for the libc tests on the Cirrus site :/).

FWIW the tests are not completing successfully for me on FreeBSD 12 so I'm trying to figure out if t

[2019-01-02 02:31] inferiorhumanorgans commented on #1163
Oh! I missed the travis badge.  At the risk of bikeshedding, would it be worth using a table for the build status?

[2019-01-02 03:00] inferiorhumanorgans opened #1192 "Build appears broken on FreeBSD"
[code]

I get similar output with the current stable toolchain (`rustc 1.31.1 (b6c32da9b 2018-12-18)`).  However the CI box (on FreeBSD 11) appears to be working.

https://cirrus-ci.com/build/5197130937401344

[2019-01-02 09:43] gnzlbg commented on #1190
The appropriate header is here: https://github.com/freebsd/freebsd/blob/1d6e4247415d264485ee94b59fdbc12e0c566fd0/sys/sys/utsname.h#L49

The length of the arrays for the user-land interface is actually configurable.

Indeed, the length of those arrays should be the length that the kernel interface expects.

I wondered why the tests aren't catching this error, and it appears that we are just skippin

[2019-01-02 10:05] gnzlbg commented on #940
@scoiatael if the `mingw` headers provide definitions of these types, you can add them to: https://github.com/rust-lang/libc/blob/master/src/windows/gnu.rs

[2019-01-02 17:39] inferiorhumanorgans commented on #1192
It looks like Cirrus has a FreeBSD 12 VM as well.  Considering that 12 is now the new stable branch, it might be worth including a 12 VM alongside the 11 one.

[2019-01-02 18:01] inferiorhumanorgans commented on #1190
It looks like the test is skipped because `uname` is defined inline in `sys/utsname.h` so the assumption is that there's no `uname` function in libc.  In reality it looks like there's (also) a uname function in libc that presumably runs with the length set to 32.

[code]

[2019-01-02 18:02] asomers commented on #1192
This is caused by #570 .  FreeBSD 12 increased the size of `ino_t` from 32 to 64 bits, and made a number of other changes as well.  Unfortunately, Rust's decision to use FFI for C interoperability makes it very hard to deal with C API changes, even changes that native C code can handle seamlessly.

Even though the tests don't pass, libc works on FreeBSD 12.  For changed functions, libc will bind t

[2019-01-02 18:31] asomers commented on #1190
libc's uname is at https://svnweb.freebsd.org/base/head/lib/libc/gen/uname.c?view=markup .  The inline function was added in r74729 (back in 2001!) and is what all new programs should be using.  The version in libc is for binary compatibility with very old programs.  All Rust programs should be using the inline version.  Unfortunately, that probably means that libc needs to deprecate uname and onl

[2019-01-03 07:06] inferiorhumanorgans commented on #1190
Well if the goal is to replicate libc I'd say the ideal should be to wrap `__xuname` instead of exposing it directly.

[2019-01-03 07:10] inferiorhumanorgans commented on #1192
FWIW I'm working on setting up a more comprehensive test rig locally.  Currently I've got some jails for FreeBSD 10, 11, and 12 hooked into buildbot.  Longer-term I'm going to hook up some DF/Open/NetBSD VMs as well.  I don't really have the resources to keep them running 24x7, but I'd be happy to run them periodically (weekly? monthly?) as something like libc runs through the tests pretty quickly

[2019-01-03 15:00] tavianator commented on #940
@scoiatael My copy of the mingw-w64 headers doesn't define `uid_t` or `gid_t` either.

[2019-01-03 21:03] #1190 closed

[2019-01-04 04:29] inferiorhumanorgans opened #1197 "Libc-test fails on NetBSD"
I'm not sure what the support expectations are here as NetBSD is listed as an untested platform, but here's the output of the tests on NetBSD 8.0.

[code]

[2019-01-04 05:06] inferiorhumanorgans opened #1198 "Build appears broken on DragonFlyBSD 5.4"
[code]

[code]

[code]

[2019-01-04 18:13] asomers commented on #1192
Could a maintainer please close this bug as a duplicate of #570 ?

[2019-01-04 18:19] #1192 closed

[2019-01-04 21:59] inferiorhumanorgans commented on #570
Would it be possible to back up a bit and determine the ideal support matrix?  For example, should libc limit support to the actively supported versions of an operating system (e.g. FreeBSD 11 & 12, OpenBSD 6.3 & 6.5, DragonFlyBSD 5.4)?  If so it seems like while there would be some churn in the actual flags, the maintenance burden shouldn't be so high.  With such a narrow support matrix the follo

[2019-01-07 20:34] scoiatael commented on #940
Ah, my bad. These are available on MSYS2, not just MinGW. Is there any way to distinguish between these from Rust side?

[2019-01-10 20:49] ArmsOfSorrow opened #1203 "Windows CRT linking behavior in no_std build"
Relevant users forum thread: https://users.rust-lang.org/t/linker-error-when-building-no-std-windows-dll-that-uses-libc/23976

My goal is to enable Rust to run on Windows UWP, which requires linking to a different version of the CRT. Since there's no support in the standard library yet, I tried to go the no_std route to get familiar with the linking behavior on win32 before trying to adapt to UWP.

[2019-01-10 21:10] alexcrichton commented on #1203
I think we've just never gotten around to implementing this, would be good to fix!

[2019-01-11 02:14] #1198 closed

[2019-01-11 20:10] ArmsOfSorrow commented on #1203
I've commented out the `//#[cfg(all(target_env = "msvc", feature = "rustc-dep-of-std"))]`, but the compiler doesn't like `cfg(target_feature = "...")`. It was nice enough to point me to this issue though: https://github.com/rust-lang/rust/issues/37406

I've read through it and if I understood right, `cfg(target_feature = "...")` is unstable and should only be used when building as part of `std`.

[2019-01-12 02:28] inferiorhumanorgans opened #1204 "Libc-tests don't pass in DragonFly BSD"
It looks like the following constants are not defined in DF:
* `IP_SENDSRCADDR`
* `BPF_ALIGNMENT`
* `SF_CACHE`

I'll spend a bit more time on this and see if I can get all the tests to pass and submit an omnibus PR.

[code]

[2019-01-12 02:41] alexcrichton commented on #1203
The `target_feature` shouldn't be necessary in theory as the build script can detect what's the best attribute to emit, but it's likely not trivial to figure out the right incantation there.

[2019-01-13 12:12] ArmsOfSorrow commented on #1203
Do you mean the [top-level one](https://github.com/rust-lang/libc/blob/master/build.rs) or is there another build script that I'm not aware of?

A quick search turned up that the only two usages of `target_feature` are in src/windows/mod.rs and and src/unix/mod.rs, so it's mainly about statically linking the CRT if specified.

[2019-01-14 07:37] jeff-davis opened #1208 "setjmp/longjmp"
I would like support for setjmp/longjmp (and friends sigsetjmp/siglongjmp). The use case is as follows:

I am trying to integrate with postgres (written in C), which means calling into postgres functions. The postgres exception mechanism uses sigsetjmp/siglongjmp.

The idea is, right before calling a postgres function via FFI call, I would do what postgres does in its PG_TRY() / PG_CATCH() macros,

[2019-01-14 17:48] alexcrichton commented on #1203
Yes in that build script it should be possible to detect whether we're using a static crt or not, and then emit a cfg directive indicating which linking directive should be used.

[2019-01-14 18:10] alexcrichton commented on #1208
Seems reasonable to me to add!

[2019-01-14 22:27] asomers opened #1210 "Incorrect CMSG functions on BSD"
PR #1098 introduced Rust functions that duplicate the `CMSG_FIRSTHDR`, `CMSG_NXTHDR`, `CMSG_DATA`, `CMSG_SPACE`, and `CMSG_LEN` C macros.  However, several of these are incorrect on BSD.  It looks like the author wrote the Linux versions first, and then simply copied them into src/unix/bsd/mod.rs.  For example, on both FreeBSD and OpenBSD `CMSG_DATA` is defined as
[code]
even though the actual C m

[2019-01-16 15:51] asomers opened #1213 "f! macro makes functions unnecessarily unsafe and extern"
The `f!` macro is used to reimplement C macros and inline functions in libc.  It eagerly marks these functions as `unsafe` and `extern`.  However, most of them don't actually need to be `unsafe`, and none of them need to be `extern`.  Shall I update the `f!` macro to eliminate the `extern` and make the `unsafe` optional?  This would be a backwards-compatible change, though it might generate "unnec

[2019-01-16 17:27] alexcrichton commented on #1213
I would personally prefer it stays as-is because platforms are often in disagreement about what's a macro, what's an inlined function, and what's an actual symbol. It's not really the place of `libc` to provide nice to use abstractions and/or make design decisions. The point of this crate is to be as simple as possible to append to.

[2019-01-16 17:36] asomers commented on #1213
Ok.

[2019-01-16 17:36] #1213 closed

[2019-01-17 18:18] #1210 closed

[2019-01-18 07:02] ArmsOfSorrow commented on #1203
Is the `cfg!` macro the right way to handle this?

[2019-01-19 20:18] jeff-davis opened #1219 "Platform test question"
I am trying to make my PR pass all of the CI tests.

1. Is there a way I can test more locally so that I don't have to make tons of tiny commits and wait for the CI to run?
1. Are there some strategies to make my changes more likely to be right across many platforms on the first run? Do you just look at all the headers for all of the targets?
1. Are all the tests for this crate passing now, or do

[2019-01-19 20:44] gnzlbg commented on #1219
If you have a Linux system with Docker installed, you can use libc's Docker containers (check how `.travis.yml` calls `run_docker.sh` and you can do this yourself locally).

I look at the POSIX / C standard / musl / etc. briefly first, and give it a try and see which archs fail and why. After that I check them out individually, and often you can already feel if the types are "very similar" across

[2019-01-20 04:54] jeff-davis commented on #1219
Thanks! Will do.

[2019-01-20 04:54] #1219 closed

[2019-01-21 20:08] gnzlbg opened #1225 "Cirrus-CI is failing"
@asomers https://cirrus-ci.com/task/5732382389829632

[2019-01-21 20:14] asomers commented on #1225
Looks intermittent.  Have you retried?

[2019-01-21 20:23] gnzlbg opened #1226 "emscripten asmjs and wasm32 targets failing to link on CI"
For example, see this: https://travis-ci.com/rust-lang/libc/jobs/171920621

[2019-01-21 20:35] gnzlbg commented on #1135
FWIW you don't need to access `nl_pad` to initialize the struct, e.g., you can use `MaybeUninit<sockaddr_nl>::zeroed()` to zero the struct, and then only initialize the relevant fields.

[2019-01-21 21:41] #1170 closed

[2019-01-24 17:51] gnzlbg opened #1229 "Add CI build jobs for all supported targets even if libc-test is not set up for them"
There are some targets that we "support" (e.g. most *BSDs except FreeBSD), but for which we don't have any build jobs. We should add build jobs for these that check that libc cross-compiles correctly for these targets, even if we don't run `libc-test` to check libc's ABI.

This should at least make sure that these targets have no trivial compilation errors, and would also allow us to run the norma

[2019-01-29 12:56] erickt opened #1232 "Libc on osx now requires rust 1.24.0+"
The rand crate tries to maintain compatibility with rust 1.22.0, but a recent release of libc now implicitly requires [1.24.0 on osx](https://github.com/rust-random/rand/issues/719) due to this patch: rust-lang/libc#1212, which uses a constant function that was stablized in 1.24. It appears that the Travis config is trying to maintain compatibility with 1.13, but this test only runs on Linux.

Now

[2019-01-29 13:32] gnzlbg commented on #1232
@erickt thank you for the report and sorry for the inconvenience.

We should:

* detect whether the Rust version is >= 1.24 in our build.rs file, and define a `cfg` flag that is used to white-list const fns in those cases. The functions can be exposed as non-const fn in older Rust versions.

* run cargo build for nightly, beta, and stable, on all build bots using Rust 1.13 as the stable Rust versi

[2019-02-03 18:50] strangelittlemonkey opened #1238 "Failing to build on DragonFly BSD because of incorrect casting"
zach@test ~/user_test> cargo run
    Updating registry `https://github.com/rust-lang/crates.io-index`
 Downloading users v0.8.1
 Downloading libc v0.2.48
   Compiling libc v0.2.48
error[E0433]: failed to resolve. Use of undeclared type or module `mem`
   --> /home/zach/.cargo/registry/src/github.com-1ecc6299db9ec823/libc-0.2.48/src/unix/bsd/freebsdlike/dragonfly/mod.rs:798:33
    |
798 |

[2019-02-04 10:10] gnzlbg commented on #1238
This might be fixed by @asomers PR.

[2019-02-04 20:15] asomers opened #1239 "CMSG_NXTHDR hits a Bus Error on sparc64-unknown-linux-gnu"
PR #1235 adds a new test program to ensure that the cmsg(3) family of functions are correctly implemented on all targets.  However, when run in QEMU `CMSG_NXTHDR` hits a Bus Error.  This could be an error in libc's `CMSG_NXTHDR` implementation for that platform, or it could be an error in Linux's definition of the macro (doesn't work on unaligned buffers or something like that).  Less likely would

[2019-02-04 20:25] asomers opened #1240 "cmsg test program dumps core on s390x-unknown-linux-gnu"
PR #1235 adds a new test program to make sure that the cmsg(3) family of macros are correctly implemented.  But on s390x (in qemu, of course), it fails with the cryptic error message `timeout: the monitored command dumped core`.  It seems as though the kernel hasn't even finished booting.  I only see this error in Travis.  On my desktop, cmsg works fine for s390x.

https://travis-ci.com/rust-lang/

[2019-02-05 04:59] strangelittlemonkey commented on #1238
I tested this against master, which includes that PR, and it's not fixed, hence my creation of my PR.

[2019-02-06 09:25] gnzlbg opened #1242 "Remove align cargo feature"
I'd like to remove the align cargo feature (or make it a dummy), and automatically use `repr(align)` if the Rust version is new enough (newer than Rust 1.25.0).

In particular, I'd like for libc to not expose the C APIs that use `repr(align)` if `repr(align)` is not available anymore. This would be a breaking change, but using these APIs without the proper alignment is undefined behavior anyways (

[2019-02-06 10:47] gnzlbg opened #1243 "Tracking issue for the extra_traits features"
[RFC2235](https://github.com/rust-lang/rfcs/blob/master/text/2235-libc-struct-traits.md).

https://github.com/rust-lang/rust/issues/57715

* [ ] not all types derive all traits yet (e.g. grep for `missing_debug_implementations`)

cc @Susurrus

[2019-02-06 19:48] gnzlbg commented on #1242
Well, this is worse than I thought. Using `repr(align(N))` anywhere (even behind a `#[cfg_attr]`) requires at least Rust 1.25.0 . That is, any target that wants to optionally use `repr(align)` needs to bump the minimum required Rust version to 1.25.0.

cc @alexcrichton - a couple of targets already do this, maybe we should bump the minimum supported libc version to Rust 1.25.0 and call it a day. I

[2019-02-06 19:50] gnzlbg commented on #1242
Alternatively, we could move all code that uses `repr(align(N))` into separate modules, and put the module declaration behind the feature gate. For example,

[code]

[2019-02-06 20:39] Mark-Simulacrum commented on #1242
The modules would/could be completely transparent to downstream users, right? Via re-exports?

[2019-02-06 20:48] gnzlbg commented on #1242
Yes, I am already working on that, but it is a pain due to how many targets are already depending on it.

[2019-02-06 22:55] asomers commented on #570
So far people have proposed 4 basic solutions to this problem, and they're all inadequate:

* Adding a build script would break cross-compiling.
* Changing target triples into target quadruples (eg `amd64-unknown-openbsd6.1`) would be way too much work.
* Adding backwards-compat feature flags (eg `freebsd-11-compat`) doesn't work for non-backwards compatible changes, such as OpenBSD's.
* Splitting

[2019-02-06 23:56] josephlr commented on #1242
@gnzlbg I think bumping libc's supported version to 1.25 is not unreasonable. Of the most popular crates, `lazy_static` has 1.24 as the min version, `bitflags` has 1.20, `rand` has 1.22. However, `serde`, `syn`, and `log` all have much lower required versions (~1.15)

[2019-02-07 02:38] pie-flavor opened #1245 "time.h functions not available on Windows"
`time`, `localtime`, etc. are only available on Unix even though Windows has them.

[2019-02-07 09:58] myfreeweb commented on #570
We could generate bindings on the fly when natively compiling, and use stored bindings (the ones that exist now) when cross-compiling maybe?

[2019-02-07 10:33] gnzlbg commented on #570
I think we can do this for `const`s, but if the "stored" bindings and the "native" bindings differ in type signatures, crates that compile against one might fail to compile against the other (because they use the wrong types, etc.). That is, crates targeting libc would need to be able to handle the "stored" vs "native" binding differences to be able to compile against both using `cfg()`s, and at t

[2019-02-07 10:48] gnzlbg commented on #1135
Alternatively, you can use `let x: sockaddr_nl = unsafe { mem::zeroed() };` on stable Rust, although if you can use nightly `MaybeUninit` is preferable.

[2019-02-07 10:48] #1135 closed

[2019-02-07 11:17] alexcrichton commented on #1242
1.25.0 is a bit too recent I think for libc, but we could detect this in the build script and auto-enable the feature I believe?

[2019-02-08 18:27] #1229 closed

[2019-02-08 18:27] #1232 closed

[2019-02-08 18:27] #1242 closed

[2019-02-08 18:39] gnzlbg commented on #1232
cc @Stebalien @erickt libc mater builds again down to Rust 1.13. There are a couple of PRs with fixes in the queue. Once those are merged I'll do a new release.

[2019-02-08 18:40] gnzlbg commented on #1232
I forgot to mention what I wanted to mention. Would you be able to test if the master branch solves your issues ? (e.g. by creating a PR to your projects that use the libc master branch and letting your CI run?).

[2019-02-08 18:44] gnzlbg commented on #1242
FWIW libc now auto-detect whether `repr(align)` is available. The `align` feature still works as it worked before. I don't think we can ever remove it without breaking projects that want to be able to work properly on a very wide range of libc versions.

[2019-02-12 12:02] theronic commented on #361
@japaric when I run `curl -sL https://raw.githubusercontent.com/japaric/docker/master/rust-uclibc/libc-ctest.sh | bash -s -- mipsel-unknown-linux-uclibc`, it can't find your libc repo:

[code]

[2019-02-12 12:05] gnzlbg commented on #361
FYI we have no uclib tests upstream of any kind, so uclib support might not compile anymore. If anyone has an easy way to at least compile these targets using `Xargo` an script that does that would be awesome.

[2019-02-12 21:40] asomers commented on #1225
Cirrus has fixed the particular issue that caused that job to abort.  In general, Cirrus is usually pretty quick about fixing these things, if you report the failure to their github repo.  You can close this issue now.
https://github.com/cirruslabs/cirrus-ci-docs/issues/137

[2019-02-12 21:48] gnzlbg commented on #1225
Thanks!

[2019-02-12 21:48] #1225 closed

[2019-02-15 12:06] dhardy commented on #1232
We still appear to have a problem using Rustc 1.22 on OSX: https://travis-ci.org/rust-random/rand/jobs/493719761 (use of `mem::size_of` as a const fn). Is this because the relevant changes are not in a release yet?

I don't have a Mac platform to test with myself.
See also: https://github.com/rust-random/rand/issues/719

[2019-02-15 13:09] gnzlbg commented on #1232
Yes. The changes are on master, and a release is blocked on the affected parties testing that master does not have these issues.

[2019-02-15 16:53] dhardy commented on #1232
Okay, I forced Travis to use libc master via a patch section. [The test now succeeds](https://travis-ci.org/rust-random/rand/builds/493850447?utm_source=github_status&utm_medium=notification) on OSX with Rustc 1.22.0 where it didn't before. So seems to have fixed it.

[2019-02-20 02:06] LawnGnome opened #1264 "Platform specific documentation is unavailable"
The [link to "platform-specific documentation"](https://rust-lang.github.io/libc/) in the README file is returning a 404.

[2019-02-21 09:14] gnzlbg commented on #1264
Should be fixed now, thanks for the report!

[2019-02-21 09:14] #1264 closed

[2019-02-21 09:22] gnzlbg commented on #1238
This should be fixed on master, but it would still be really nice if you could pursue your PR about getting libc-test to work there.

I might be landing some simplifications there that might make it easier in case you are low on time.

[2019-02-21 09:22] #1238 closed

[2019-02-21 09:25] gnzlbg commented on #1243
let's track this here instead: https://github.com/rust-lang/rust/issues/57715

[2019-02-21 09:25] #1243 closed

[2019-02-21 09:29] gnzlbg commented on #1173
@pietroalbini is there a tracking issue somewhere about moving rust-lang/* from homu to bors?

I am not sure if it makes sense to move `libc` to bors independently of what rust-lang/rust does.

[2019-02-21 09:30] gnzlbg commented on #1143
This should all be clean on master. We are now minimally testing some fuchsia targets on CI (x86_64 and aarch64 IIRC).

[2019-02-21 09:30] #1143 closed

[2019-02-21 09:31] gnzlbg commented on #1197
We are only testing that libc builds properly on NetBSD, we are not testing that its ABI is correct.

PRs welcome.

[2019-02-21 09:31] #1140 closed

[2019-02-21 09:35] gnzlbg commented on #845
@malbarbo for targets that we are not currently testing, but that cross does support, I wouldn't mind us to start adding CI build jobs that use cross to test them. I think something is better than nothing here.

However, as @alexcrichton pointed out, we want some fine grained control about some parts of the environment used, like the glibc version. It would be great if cross could support that.

[2019-02-21 09:42] gnzlbg commented on #657
Since this feature is enabled by default, this would only be a breaking change iff `--no-default-features --features use_std` is being used, which would be a weird configuration, since doing nothing has the same effect.

I have a proposal here.

We could add a `std` feature, in parallel with `use_std`, that is also enabled by default. Then, in the `build.rs`, we could translate `use_std` to `std`,

[2019-02-21 09:47] gnzlbg commented on #302
The RFC was partially implemented, closing this in favor of the tracking issue: https://github.com/rust-lang/rust/issues/57715

[2019-02-21 09:47] #302 closed

[2019-02-21 09:48] gnzlbg commented on #563
This is blocked on: https://github.com/rust-lang/rustfmt/issues/3253

[2019-02-21 09:49] gnzlbg commented on #355
cc @emilio how does bindgen handle complex numbers? and what is your opinion about adding these to libc?

[2019-02-21 09:56] pietroalbini commented on #1173
I don't think there is a concrete plan at all.

[2019-02-21 10:05] gnzlbg commented on #423
@Zoxc This is not a bad idea. The main problems are that generating libc from headers requires:

* re-compiling standard, so this is only (at least for now) relevant for those using xargo
* using rust-bindgen requires a particular clang toolchain (which, at least for now, rustup is not bundling)

If one needs to re-compile libstd anyways, one can `[patch]`/`[source]` it to use a different "libc",

[2019-02-21 10:07] gnzlbg commented on #423
I'd be glad to help anybody wanting to pursue such an endeavor, but I think that it might be best to close this issue for now, because until somebody puts in the effort to come up with a proof-of-concept of this, we'll just know to little about which problems need to be solved for us to have a fruitful discussion about this.

[2019-02-21 11:44] gnzlbg commented on #1173
@asomers what are your thoughts on this now that homu has been updated?

On one hand, I use bors-ng in other projects, and I like it. OTOH, I don't know if it makes strategic sense for libc to switch from homu to bors. Even if that is not the superior technical solution, there is value in using what other rust-lang/rust projects are using (e.g. views of the whole queue, etc.).

I also think that t

[2019-02-21 14:15] asomers commented on #1173
Now that homu has been updated to understand Github's newer status API there's no urgency.  I still think that bors is superior, but I'm not going to insist upon it.  I'm not even going to press the issue.

[2019-02-21 14:15] #1173 closed

[2019-02-21 18:51] alexcrichton opened #1266 "Public interface now contains unintended libcore modules"
[On master now](https://github.com/rust-lang/libc/blob/577fdc86b239f1909645e60ef6a79f5e7f76b783/src/lib.rs#L48-L93) the root module now reexports via `pub use` a number of modules, but these aren't intended to be part of the public interface of the `libc` crate. I was wondering if this was a mistake perhaps?

[2019-02-21 18:52] alexcrichton opened #1267 "No longer builds as a libstd dependency"
Previously when building with the `rustc-dep-of-std` feature this crate would use `no_core` and then `extern crate ... as core` to pull in core, but now it doesn't currently use any attributes, causing build errors as rustc looks for libstd (I think this is just a mistake)

[2019-02-21 20:53] gnzlbg commented on #1267
Yes, this is definitely a mistake. Thank you for the PR.

[2019-02-21 21:44] #1267 closed

[2019-02-21 22:00] emilio commented on #355
See https://github.com/rust-lang/rust-bindgen/issues/72 and related. Bindgen generates something like `struct Complex<T> { re: T, im: T }` ATM. That gets correct layout, but not 100% sure whether it's correct ABI-wise, would need to check. Adding them to libc seems like a good idea, if it's well defined.

[2019-02-21 22:49] gnzlbg commented on #1266
`Clone`, `Copy` and `Option` shouldn't be pub if private module use is available (looks like a C&P error, but those are hidden). But using `pub use` is required to build in Rust < 1.15.0, where private module use was not available.

[2019-02-21 23:10] alexcrichton commented on #1266
Ah ok, I think it's probably fine to "expand" the public API on older versions of Rust which are probably no longer in use. Should [these `pub` statements be removed though](https://github.com/rust-lang/libc/blob/577fdc86b239f1909645e60ef6a79f5e7f76b783/src/lib.rs#L61-L69)?

[2019-02-21 23:14] gnzlbg commented on #1266
Yes, see https://github.com/rust-lang/libc/pull/1269

I am not sure how libc did it back then, but when trying to compile on Rust 1.13.0, it only compiled for x86_64-unknown-linux-gnu, which was the only target tested, and for that toolchain the build was broken on most other targets due to this issue (private module use).

Exporting those items fixed that, but maybe it should be a hint that we sh

[2019-02-22 15:31] alexcrichton commented on #1266
Eh well in any case this should be fixed now, thanks!

[2019-02-22 15:31] #1266 closed

[2019-02-22 16:52] gnzlbg opened #1272 "The signature of "execv" | "execve" | "execvp" is incorrect"
The type of `argv` is `*const *const c_char` but should be `*const *mut c_char`. For some reason, this is skipped in the libc-test.

[2019-02-22 17:51] gnzlbg opened #1273 "Incorrect type name sighandler_t should be sig_t on apple targets"

[2019-02-23 12:52] jbeich opened #1276 "0.2.49 tag is missing but crates.io has 0.2.49 release"
Was it actually released? If so what commit the release corresponds to?

[2019-02-23 13:13] gnzlbg commented on #1276
https://github.com/rust-lang/libc/releases/tag/0.2.49

[2019-02-23 13:58] jbeich commented on #1276
Sorry but archives don't match. Did you tag the wrong commit?
[code]

[2019-02-23 14:11] jbeich commented on #1276
After ignoring `ci`, `libc-test`, and some other missing files it seems 0.2.49 on crates.io matches 68701e7e673d. Please, fix the tag as downstream may want to know which commits ended up in which libc version.

[2019-02-23 14:47] gnzlbg commented on #1276
Could you check if it is fixed now? https://github.com/rust-lang/libc/releases/tag/0.2.49

[2019-02-23 14:54] jbeich commented on #1276
Looks OK. Thanks. I've also discovered where crates.io stores git commit.
[code]

[2019-02-23 14:54] #1276 closed

[2019-02-23 14:59] gnzlbg commented on #1276
That's good to know! I wish we could automate deployment so that when one upgrades the version in the Cargo.toml, cargo publish when merging is invoked, and the tag gets automatically added.

[2019-02-24 16:14] gnzlbg opened #1282 "wchar_t is i32 for all bsd targets"
AFAICT wchar_t is `i32` for all BSD targets, but for example for FreeBSD aarch64 targets it should be `u32`. I'm not sure about `ios` aarch64 targets, but i think there it is also i32.

[2019-02-24 16:20] gnzlbg opened #1283 "c_char is i8 for all apple targets"
AFAICT this should be u8 for the aarch64 and arm iOS, watchOS, etc. targets.

[2019-02-24 17:02] gnzlbg opened #1284 "c_char is u8 for uclib on x86_64"
Should be i8.

[2019-03-01 22:13] PvdBerg1998 opened #1289 "time_t has the wrong size for an old linux installation"
`Unix and POSIX-compliant systems implement the time_t type as a signed
  integer (typically 32 or 64 bits wide) which represents the number of seconds since the start of the Unix epoch.` Currently it is defined as an `i64`, but this is not compiling on an old 32 bit system of mine.

[2019-03-02 10:07] PvdBerg1998 commented on #1289
Nevermind haha

[2019-03-02 10:07] #1289 closed

[2019-03-02 11:03] #270 closed

[2019-03-05 10:06] raphaelcohn commented on #570
@asomers A mad, mad option 5: Build a libc in Rust, and use that as the default. It actually solves a very large amount of the cross-compiling problem, too. It's certainly do-able for Linux and the BSDs.

I've played around with all of the 4 basic solutions you've mentioned, and all are far from ideal. Once one adds in the various horribleness of different CPU architectures, it just gets plain cra

[2019-03-05 10:14] gnzlbg commented on #570
This is how `libc` is already implemented ?

Breaking changes across OS versions are small, duplicating all the code for each version seems overkill.

Go for it! You are not the first one to have this idea, and others have already started doing that. Maybe you can help them!

[2019-03-05 10:50] raphaelcohn commented on #570
@gnzlbg Not in the slightest! It's an illogical mess attempting some deduplication with inconsistent naming. Not really anyone's fault - it's the result of Rust's successful growth - and it demonstrated just how hard it is to create a consistent-ish solution. (It's actually quite a common (and healthy) problem in open source projects with lots of contributors). I find it very hard to navigate and

[2019-03-05 10:54] gnzlbg commented on #570
PRs welcome I guess. The amount of work required to clean this up (independently of how messy this currently is) is insignificant compared to the amount of work required to re-implement the libc's of all OSes that Rust supports in Rust.

There are docs for all architectures that rust supports online: https://rust-lang.github.io/libc/#platform-specific-documentation You can click on an arch, click

[2019-03-05 11:09] mati865 commented on #570
@radupopescu you might want to check [relibc](https://gitlab.redox-os.org/redox-os/relibc).

[2019-03-05 14:01] asomers commented on #570
@raphaelcohn please don't rewrite every OS"s C library in Rust.  That's basically what Go tried, and it hasn't gone smoothly.  It turns out there's some hard stuff in the C libraries.  Plus, it doesn't help libc's portability problem.  It just kicks the can down the road.  As I described in that forum post, I think the solution is more decentralization; libc wouldn't have to support every single v

[2019-03-05 15:02] gnzlbg commented on #570
I suppose this could work for "less severe" breaking changes, like changing the value of a const. But some FreeBSD breakage has been caused by, e.g., changing the type of a struct field.

If the OS replaces libc with its own one containing the fix, then what? AFAICT libstd, and all other code using that API, won't compile because of a type mismatch, right?

[2019-03-05 15:58] asomers commented on #570
Actually, changing the value of a const is impossible to do in a backwards-compatible way.  The FreeBSD breakage you mention is less severe, because it's all backwards compatible thanks to ELF symbol versioning.  The problem arises because Rust ignores the system headers, which is necessary for cross-compiling.

If FreeBSD 12 were to install its own forked libc as I suggested, then libstd and rust

[2019-03-05 16:36] gnzlbg commented on #570
I meant the Rust `const`, that would be, e.g., a C macro (`#define FOO 3`), an `enum` discriminant, etc. Those do not appear in the ABI of the C library (no symbols), but they need to be exposed in Rust. Replacing `libc` with a different one should be able to update these things.

I was actually referring to changes like this, with happened when updating libc to support FreeBSD 11 instead of FreeB

[2019-03-05 16:59] myfreeweb commented on #570
Also the libc **is** the stable and public API on most systems. (Systems that don't have a penguin logo, that is.)

And doing what Go does is a *massive* pain for less popular CPU architecture + OS combos.

hm — rustc already comes with a libc, but it's private and everyone is forced to redownload it with cargo. Switching everything to the libc distributed with rustc, such that it's just like libc

[2019-03-06 12:02] raphaelcohn commented on #570
Life is too short! It's either a complete re-working of the entire structure, with a proper focus on complete implementation of everything in libc for every major variant, or nothing...

Which is often difficult to truly get an understanding of with a lot of cross platform `[#cfg]`. Using the file system to visually see high-level difference is often superior.

@asomers : It's not really that hard

[2019-03-06 12:17] gnzlbg commented on #570
This issue is about finding a solution to breaking changes in platform APIs, yet Linux is one of the few OSes that never break their API.

I don't know what problem re-implementing libc in Rust for Linux would solve, but I don't see how it could solve the one being discussed here, since Linux does not have it AFAICT.

[2019-03-06 12:25] raphaelcohn commented on #570
@gnzblg: Agreed; just re-implementing libc in Rust for Linux is not going to solve the problem being discussed here. I'm happy to stop discussing it - it's a distraction.

[2019-03-08 02:50] t6 opened #1300 "Missing KERN_PROC_CWD and struct kinfo_file definitions on FreeBSD"
Would be nice to have to not resort to hacks like https://github.com/jwilm/alacritty/pull/2162

[2019-03-08 06:55] gnzlbg commented on #1300
PRs welcome.

[2019-03-11 01:50] Susurrus opened #1302 "mq_attr checks __reserved and pad fields in PartialEq comparison"
We run tests on mq_attr, and moving from our `PartialEq` implementation to `libc`'s broke those tests because these fields are compared. They are only used for alignment on some platforms and can contain junk data on some platforms. These fields should be skipped when doing a comparison of these structs.

[2019-03-11 08:06] gnzlbg commented on #1302
FWIW these fields should be private, so that one day we can remove them and switch to just properly using `repr(align)`.

[2019-03-11 15:01] gnzlbg commented on #1302
If you mean about making them `repr(align)`, the main issue, I think, is bumping the minimum supported Rust version to Rust 1.25.0 (which is ~1 year old). Maybe when Rust 1.25 is 1.5-2 years old we can just do that.

[2019-03-11 15:03] Susurrus commented on #1302
There's the `repr(align)` feature we can use and only implement it like that for that feature.

Note that this problem also exists for the `sockaddr_nl` type which has the `nl_pad` field, which should be ignored for equality but currently isn't (I don't know if we can just remove that field and specify `repr(align)`).

[2019-03-13 15:56] dhardy opened #1303 "Solaris PTHREAD_PROCESS_PRIVATE type"
Our [CI runner](https://travis-ci.org/rust-random/getrandom/jobs/505701991) found an error on Solaris:
[code]

[2019-03-13 16:48] gnzlbg commented on #1303
Why is that using libc version 0.2.27 ? It is quite old. I'm not sure what level of support it had for solaris back then.

[2019-03-13 16:49] gnzlbg commented on #1303
In fact, the build of the master branch uses libc 0.2.50 and it passes your CI: https://travis-ci.org/rust-random/getrandom/jobs/498638620#L474

[2019-03-13 17:06] dhardy commented on #1303
Because [of this](https://github.com/rust-random/rand/issues/741).

I'm not personally convinced this type of testing is useful. If it merely wastes developer time then it's probably better to remove it.

[2019-03-13 17:30] gnzlbg commented on #1303
So I'm closing this, this issue is already fixed in newer libc versions and I don't think there is anything we can do about it here.

If that crate wants to support solaris, it needs to use a libc versions that's new enough. BurntSushi is mentioning in that issue the `libc = 0.2` bound states that the library works with all `0.2` libc versions, but that appears to not be the case, so the crate sho

[2019-03-13 17:30] #1303 closed

[2019-03-14 17:18] gnzlbg opened #1304 "Deprecate the fixed-width integer aliases"
We do guarantee that the fixed-width integer types `{i,u}{8,16,32,64}` are layout compatible with C's `{u,}int{8,16,32,64}_t`.

There is no need to provide type aliases (e.g. `libc::uint64_t`) for these, in the same way that we don't provide a `libc::c_bool` type alias for `bool`.

---

Note that `c_float` and `c_double` aren't necessarily layout compatible with `f32` and `f64`.

[2019-04-02 07:12] przygienda opened #1311 "Linux 3.10.0-693.2.2.el7.x86_64 seems to somehow expose inconsistent sysctl API"
ewnough said, API changed in mutability on first parameter and ptr/size? and that breaks crates like e.g. sysctl ...

[2019-04-02 07:19] gnzlbg commented on #1311
libc has a million APIs, so it would at least be nice to know which API, which target triple, minimum working example (no dependencies) with instructions to reproduce, etc.

[2019-04-02 07:26] przygienda commented on #1311
nightly-x86_64-unknown-linux-gnu

sysctl(...)  call changed mutability of parameters ...

reproduce: try to compile sysctl crate which takes libc and uses sysctl(..) calls

[2019-04-02 07:31] gnzlbg commented on #1311
Read https://github.com/rust-lang/libc/pull/1312/files .

[2019-04-02 08:14] gnzlbg commented on #1311
The last commit that changed `sysctl` on x86_64-unknown-linux-gnu is from 2 years ago (https://github.com/rust-lang/libc/commit/343b7c15bea8777399ab5e667239e6bbe8239542) and landed on libc 0.2.33. There aren't any commits between 0.2.50 and 0.2.51 touching that API.

[2019-04-02 08:17] gnzlbg commented on #1311
rust-semverver also reports no breaking changes between 0.2.50 and 0.2.51 on `x86_64-unknown-linux-gnu` (https://travis-ci.com/rust-lang/libc/jobs/188694789#L819) and it checks for changes in function signature types.

[2019-04-02 12:31] przygienda commented on #1311
thanks, yet somehow it looks like updating to .51 broke sysctl here. I will try to get you an example today to verify it's not something else

[2019-04-02 14:45] przygienda commented on #1311
Looked @ it further, it looks like an issues taht has nothing to do with newest libc release but been there since a bit. confusing, it compiles on other plaforms (BSD & MacOS)

Affects stable and nightly ...

--- here's the info, code taken out directly from sysctl-rs crate

extern crate libc;
use libc::{sysctl, c_int, c_void};

fn main() {
    let oid: [c_int; 2] = [0, 3];

    let mut len: usize

[2019-04-02 15:10] gnzlbg commented on #1311
Is there a version of libc that compiled that example for that target correctly?

[2019-04-02 16:00] przygienda commented on #1311
https://github.com/johalun/sysctl-rs/issues/22  seems like crate was never tested on linux albeit I remember ages ago to have it working

[2019-04-02 16:00] #1311 closed

[2019-04-11 00:01] Ekleog opened #1315 "MAP_SHARED_VALIDATE is missing on Linux"
`MAP_SHARED_VALIDATE` (defined in mmap(2)) is missing in libc, for linux >= 4.15.

For instance the following code should, I think, compile:
[code]

Thank you for your time! :)

[2019-04-11 23:18] alex commented on #716
I'd be interested in working on this, at least far enough to get `si_addr` :-) Would a patch that just added enough to read that be acceptable, or do you want this to solve this completely?

[2019-04-12 06:21] gnzlbg commented on #716
@alex what do you mean by not solving this completely? the proposed change should just work, it will only need a bit of cfg-magic to be active on newer Rust versions.

[2019-04-12 12:25] alex commented on #716
Not adding every single field :-)

[2019-04-12 12:31] gnzlbg commented on #716
As long as the struct layout is correct, if the union field is private, we can do whatever we want (as long as we only use the union on toolchains that support it).

If the question is whether we can make the field a public union, and then add newer union fields incrementally over time, I haven't thought about that, but I think it's a good question. I've asked it here: https://github.com/rust-lang

[2019-04-12 12:34] alex commented on #716
Ah yes, that does suggest a good question: do we want to just expose the underlying unions, or add methods on `siginfo_t` which access the underlying field?

[2019-04-12 12:35] gnzlbg commented on #716
If C exposes the union we should do that. If C has functions to expose the fields, we can add those. I don't think C has methods, so doing that would be something more appropriate for the `nix` crate.

[2019-04-12 12:41] alex commented on #716
In C the field containing a union has a name with an underscore
`_sifields`, and then there are macros like `#define si_addr
 _sifields._sigfault._addr`. So you can do `some_siginfo_t.si_addr` (and
you can't really have a field named `si_addr` on any other struct, but oh
well).

On Fri, Apr 12, 2019 at 8:35 AM gnzlbg <notifications@github.com> wrote:

--
All that is necessary for evil to succeed i

[2019-04-12 13:07] gnzlbg commented on #716
We typically map those macros to Rust functions, so I think we can just keep the field private (in which case it does not matter whether it is implemented using an `union` or not), and just provide functions to access the fields. We can probably make things a bit more concrete once we have a PR open with an initial proposal.

[2019-04-12 13:19] alex commented on #716
I'll try to get to it later today!

On Fri, Apr 12, 2019, 9:07 AM gnzlbg <notifications@github.com> wrote:

[2019-04-12 20:45] gnzlbg commented on #716
So the padding field of `siginfo_t` was not private as it should have been. This means that using an `union` instead would be a hard breaking change. Once we have a PR that implements the proposed change, we can try and see if there is any code out there actually relying on that, but this might be something that might need to wait until the next breaking release.

[2019-04-17 19:11] jasonbking opened #1318 "Solarish __posix_readdir_r symbol is only for 32-bit libc"
As discovered building the latest 'fd', the `__posix_readdir_r` symbol is only available in the Solaris & illumos 32-bit libc.  For 32-bit libraries, there is some confusing symbol shuffling that occurs to provide compatibility between traditional Solaris, draft POSIX, and official POSIX behavior for `readdir_r` (which is where `__posix_readdir_r` originates).

By the time 64-bit was introduced in

[2019-04-18 01:07] jbaublitz commented on #1059
I'm mostly done with this and will be ready to try CI soon. Mainly just making sure this doesn't get closed as I'm actively working on it again. I got pulled away from my side projects for a long while.

[2019-04-18 10:29] crlf0710 opened #1320 "`getgrgid_r` should accept gid_t instead of uid_t"
https://linux.die.net/man/3/getgrgid_r

[2019-04-18 22:35] gnzlbg commented on #1320
This is a breaking change, but it might be a harmless one. Mind submitting a PR?

[2019-04-18 22:36] gnzlbg commented on #1059
Glad to hear that!

[2019-04-20 07:07] gnzlbg opened #1324 "Using implicit padding on C FFI prevents Rust from writing / copying those bits"
@sunfishcode pointed out here (https://github.com/rust-lang/libc/pull/1321#discussion_r277067911) that when we use explicit padding on C FFI:

[code]

Rust will insert copies, etc. for the padding bits, and when users write code like:

[code]

those fields will be zeroed.

However, if we were to use

[code]

instead, this would not be the case.

We don't have that many types using `repr(align)` an

[2019-04-20 07:12] gnzlbg commented on #1324
Either way, one way to make Rust code "forward-compatible" with fixes that would require adding / removing private fields would be to add a private ZST to the type. That would prevent people from assuming that all field types will always be public, which is what leads to breaking changes when it comes to padding / alignment.

[2019-04-20 23:17] nbsdx commented on #716
Figured I'd drop by and leave my 2 cents here as well since I'm looking into `siginfo_t` for a project.

The alignment issues are caused (likely) by bad behavior on rust's side. The kernel's `siginfo_t` is NOT packed, and should not be declared as such in Rust (re: vojtechkral's comment). The `siginfo_t` structure looks like this in memory (`x86_64`) when there's a process that was/needs to be wai

[2019-04-23 13:38] vojtechkral commented on #716
@nbsdx Thanks for investigating. FWIW I have no memory of that comment I wrote and, more specifically, why I thought so :)

[2019-04-23 19:38] nbsdx commented on #716
@vojtechkral no problem, packing it was my initial solution as well until I dug into it more once I wasn't able to access fields properly :)

[2019-04-29 17:41] #1320 closed

[2019-05-04 11:00] valerius21 commented on #1284
It is not compatible with the `std::ffi::CStr::from_ptr` method, which does take an `u8`.

[2019-05-04 12:23] gnzlbg commented on #1284
That's not a problem, `CStr::from_ptr` is not a portable method (`CStr` is not even FFI safe).

[2019-05-08 22:59] mati865 opened #1333 "Ubuntu 17.10 repository is no longer available"
It will result in following jobs failure: https://github.com/rust-lang/libc/search?l=Dockerfile&q=17.10

cc https://github.com/rust-lang/libc/pull/1297

[2019-05-14 10:05] gnzlbg commented on #1333
We should probably update directly to the latest Ubuntu version.  Will do that after #1337 is merged.

[2019-05-14 10:12] gnzlbg opened #1338 "gettimeofday has incorrect signature"
The signature of `gettimeofday` incorrect on ~~most~~ all targets:

[code]

we should see if we can fix it. Will depend on how many crates are using it.

[2019-05-14 12:25] jackpot51 commented on #1333
@gnzlbg I recommend to update to 18.04, not the latest. It is a long term support version and will be supported for at least another 4 years, whereas 19.04 will only be supported until January of next year.

[2019-05-14 13:03] gnzlbg commented on #1333
The main issue with the upgrades is that, instead of doing small incremental upgrades every year, we do a huge one every 4 years. Also, we technically only support the latest release of `libc` on most platforms, and we have to add many workarounds to do that while using a 4 year old version in CI.

[2019-05-14 14:35] jackpot51 commented on #1333
That is a good point. If it is possible to keep it up to date every 6 months, then that would be best. However, with many things still running 17.10... you will already have to jump three fourths the length of an LTS cycle to get to 19.04

[2019-05-15 06:56] gnzlbg commented on #1333
Yeah, I'll focus first on getting CI back running again, so that we can merge the open PRs and unblock work in rust-lang/rust. Once that happens, we can start slowly migrating to newer Ubuntu versions in CI.

[2019-05-15 12:28] ibabushkin opened #1339 "MAP_FIXED_NOREPLACE is missing on Linux"
`MAP_FIXED_NOREPLACE`, documented in `mmap(2)`, is missing, but is supported by linux >= 4.17. As far as I can tell, all linux targets of versions recent enough should support this flag, here's the relevant chunk from the manpage:

[code]

Here's a code example:
[code]

If noone has any objections, I'll go ahead and open a PR for this and #1315.

[2019-05-15 12:31] gnzlbg commented on #1339
Sounds good, go ahead!

[2019-05-15 13:47] ibabushkin opened #1341 "Test failures: bad ucontext_t size, bad function pointers for scanf family of functions"
On target `x86_64-unknown-linux-gnu` (Void Linux w/ glibc 2.29),
in `libc-test`, `cargo test --test main` fails as follows (paths redacted):
[code]

I haven't had time yet to check on a fresh install or different hardware, but I think this is worth our attention.

[2019-05-15 13:49] gnzlbg commented on #1341
@ibabushkin the tests are only intended to run inside the docker containers, so don't worry about that.

---

@mati865 ^^^ looks like there are some people using glibc 2.29 already, for which those functions will point to the incorrect addresses.

[2019-05-15 13:55] ibabushkin commented on #1341
Alright, good to know. I think one should adjust the directions in `CONTRIBUTING.md` then, since that mentions running the tests but does not point out that detail :)

[2019-05-15 13:55] #1341 closed

[2019-05-15 14:07] mati865 commented on #1341
I'm also using glibc 2.29 based distro but haven't noticed issues yet (apart from not working libc tests :smile:).

[2019-05-15 14:35] gnzlbg commented on #1341
I think you'd have to build a program that directly calls `fscanf`/`scanf`/`sscanf`. The error message basically says, that the call will jump to a function at some address, which is different from the address of those functions.

Whether that's problematic or not, it depends. It might well be that `glibc` 2.29 modified any of this functions in some backward incompatible way (IIRC from the changel

[2019-05-15 14:41] gnzlbg commented on #1341
So here it is: https://github.com/bminor/glibc/blob/ce7eb0e90315eb1939ac29f656d39b3db858c092/libio/bits/stdio-ldbl.h#L29

We might want to define `DEPRECATED_SCANF` macro before including the glibc headers, so that the C code that we use to test links to the deprecated function symbols. This would allow Rust code to continue to link against older glibc's.

The alternative would be to change the `#

[2019-05-15 21:24] ibabushkin commented on #1341
I agree that that spot is the place to add the disclaimer about Docker (as that is where I looked initially for pre-PR testing directions). I'll whip something up once I verify a working setup.

Regarding the function symbol issue -- https://github.com/bminor/glibc/commit/03992356e6fedc5a5e9d32df96c1a2c79ea28a8f this commit suggests one gets the modern scanf (which is not all that different) in mo

[2019-05-15 21:30] mati865 commented on #1341
@ibabushkin see https://github.com/rust-lang/libc/pull/1337

[2019-05-16 07:46] gnzlbg commented on #1197
Also ideally, one only needs to contribute a qemu-system build job that runs the tests on a netbsd image. We do this for sparc, s390x, and freebsd, so it shouldn't be hard.

[2019-05-16 09:40] gnzlbg opened #1343 "semver build jobs broken"
The semver build jobs are failing to build: https://travis-ci.com/rust-lang/libc/jobs/200647230#L409

cc @ibabushkin

[2019-05-16 10:02] #1333 closed

[2019-05-16 10:09] ibabushkin commented on #1343
I am aware of the problem. I also have a partial fix laying around, but it is still failing some of semverver's own tests, mostly regarding trait impls. I'll push that to git and you can check whether the test failures affect the use of semverver for libc.

[2019-05-16 10:11] gnzlbg commented on #1343
Thank you for looking into this @ibabushkin , I just wanted to notify you. We allow the build jobs to fail, so they should become "green" automatically once the next semverver version is released if all test pass, or "red" if semver changes are detected.

[2019-05-16 16:43] frol opened #1347 "getitimer()/setitimer() are missing on Linux"
[code]

[man](http://man7.org/linux/man-pages/man2/getitimer.2.html)

This is a minimal demo:

[code]

I have found these two commits: https://github.com/rust-lang/libc/commit/e976c370f840f1381f4a9bd5ad4f825af8259e5b, https://github.com/rust-lang/libc/commit/bc48202e14cb5112de5199f1ebc8b8464637bcc1 -- `getitimer` and `setitimer` we introduced and dropped for netbsd target. Those definitions seem t

[2019-05-16 18:39] gnzlbg commented on #570
The assumption that by targetting FreeBSD 11 libc is usable on FreeBSD 12 is incorrect.

Consider `freelocale`, which in FreeBSD 11 and currently in `libc` 0.2.53 returns an `int`, but which was changed in `FreeBSD 12` to return nothing - this is an ABI breaking change. Code calling `freelocale` would work on FreeBSD 11, but invoke undefined behavior on FreeBSD 12.

There is probably a subset of t

[2019-05-16 20:30] asomers commented on #570
`freelocale` is an unusual case.  It didn't get a backwards-compatibility version when its return type changed because nobody could find any evidence of any code that actually used the return type.

https://svnweb.freebsd.org/base?view=revision&revision=303495

Even if some Rust code attempted to use its return value, I still don't think that would qualify as UB, because of the FFI interface.  UB

[2019-05-17 15:23] dianpopa opened #1348 "syscalls missing for musl aarch64"
Hi,

Should not the list of syscalls from [rust-lang-aarch64-musl-syscalls](../blob/master/src/unix/notbsd/linux/musl/b64/aarch64.rs) be the same as [musl-libc-aarch64-syscalls](https://git.musl-libc.org/cgit/musl/tree/arch/aarch64/bits/syscall.h.in)?

In my [project](https://github.com/firecracker-microvm/firecracker) that I compile against musl libc and which I run on aarch I am trying to whitel

[2019-05-17 19:26] nuliknol opened #1349 "undefined reference to `printf'"
I am getting this error:

[code]

The source code is simple enough:

[code]

What is missing ?

[2019-05-17 19:59] nuliknol commented on #1349
After invoking `gcc` by hand with removed `nodefaultlibs` flag I was able to get it return with no errors.

[2019-05-19 22:23] oherrala commented on #1338
Found this warning from [parking_lot_core 0.4.0](https://crates.io/crates/parking_lot_core). Seems to still be in use in master branch also.

Code: https://github.com/Amanieu/parking_lot/blob/3259fd72e0d76e9c9a6f31ff41a996648fe9ccfa/core/src/thread_parker/unix.rs#L210

[code]

[2019-05-19 22:25] oherrala commented on #1338
Found this warning from time 0.1.42. Still in use in master also.

Code: https://github.com/rust-lang-deprecated/time/blob/324d2eb89354c412f520dbb29ef2c812085010a9/src/sys.rs#L497

[code]

[2019-05-20 22:15] faern commented on #1338
I can probably update `parking_lot` quickly if you change the signature. I'm working on pretty large changes there as we speak anyway. So don't let that library hold you back IMO.

[2019-05-20 22:16] gnzlbg commented on #1338
Thank you both, it seems that we can't easily fix the signature of `gettimeofday` without breaking a lot of code.

[2019-05-21 09:18] juliangaal opened #1352 "Cross compilation fails for target armv7-unknown-linux-gnueabihf"
System: ubuntu
rustc: 1.34.2
Cargo.toml:
[code]
Error with command `cargo build --release --target=armv7-unknown-linux-gnueabihf`:
[code]
Any ideas how to fix this? Not sure how this is related to nix or libc, or both. Thanks

[2019-05-21 09:51] gnzlbg commented on #1352
It's related to both. `libc` was exposing a `PTRACE_GETFPXREGS` constant on that target by mistake, but the linux kernel for that target does not have any. That is, in C that code would have never compiled, and in Rust that code might be doing something random. The `nix` crate needs to be updated to only use that constant on targets that support it.

[2019-05-21 09:57] juliangaal commented on #1352
makes sense. Closing this issue here, thanks a lot.

[2019-05-21 09:57] #1352 closed

[2019-05-22 10:51] gnzlbg opened #1356 "Remove/deprecate ENOATTR from Linux and Android"
The `ENOATTR` attribute is not shipped with any system headers on these platforms. This was raised in #594 as the main argument not to add this for Linux. There was a comment that claimed that this attribute is mentioned in the man pages of [`setxattr`](http://man7.org/linux/man-pages/man2/fsetxattr.2.html) and [`getxattr`](http://man7.org/linux/man-pages/man2/getxattr.2.html) but I don't find any

[2019-05-22 11:31] gnzlbg commented on #1356
It appears that the header `<attr/xattr.h>`, where this constant was supposed to be, was removed in 2015: http://git.savannah.nongnu.org/cgit/attr.git/commit/?id=7921157890d07858d092f4003ca4c6bae9fd2c38

The header that one should use is `<sys/xattr.h>` which is available on Linux and Android, but does not contain `ENOATTR` in either:

* Android: https://android.googlesource.com/platform/prebuilts

[2019-05-22 11:35] #1338 closed

[2019-05-22 14:27] PlasmaPower commented on #1356
It appears to be in older copies of the man pages, like https://linux.die.net/man/2/getxattr

In case that gets updated too, here's an archive.org link: https://web.archive.org/web/20160808193900/http://linux.die.net/man/2/getxattr

As per https://mail-index.netbsd.org/tech-kern/2012/04/30/msg013090.html which is also outdated but mostly correct, here's platform behavior:

and MacOS X

Notice that

[2019-05-22 15:07] gnzlbg commented on #1356
FYI if you need a portable wrapper over `libc`, you can use the `nix` crate for that. I don't know if they have a portable wrapper around these APIs, but they might.

The problem with adding `ENOATTR` synthetically to targets that don't have it is that, technically, Android and Linux could add it in the future, and with a different value of `ENODATA`. First, we wouldn't know about this, because we

[2019-05-22 15:12] PlasmaPower commented on #1356
Makes sense. I'm fine with deprecating or removing it. :+1:

[2019-05-22 21:05] #1059 closed

[2019-05-23 07:57] gnzlbg commented on #1349
You want to probably use a byte string there instead `b"Hello, world!\n\0"`.

You also probably want to use `libc` without `extra_traits`, and with `default-features=false`. Otherwise, libc `use_std` feature will be added by default, and the whole Rust standard library will be pulled into your binary, which appears to be something that you are trying to avoid.

[2019-05-23 08:00] gnzlbg commented on #1348
If there is a syscall missing for the `musl` target, PRs welcome.

[2019-05-23 14:02] gnzlbg opened #1359 "sighandler_t has an incorrect type on most unix targets"
For example, it is always defined as `size_t`, but on Android it should be of type `extern "C" fn(c_int, *mut siginfo, *mut c_void)`.

[2019-05-23 14:42] gnzlbg commented on #1272
@asomers it would be better to start fixing these in freebsd

@semarie it would be good to know if their signature is also incorrect in openbsd and netbsd (e.g. by trying to remove their "skip" in `libc-test/build.rs` since we can't check that in CI.

I'll try to roll in a fix for Android.

After that is done, we can fix these on Linux, and do an update upstream, crater run, etc.

[2019-05-23 14:53] asomers commented on #1272
Why do you think it would be best to start with FreeBSD?  It seems that the same problem exists on Linux.

[2019-05-23 15:23] gnzlbg commented on #1272
We could try rolling this change for all targets at once as well. These APIs are available on all tier-1 targets, so I just thought that it might be "safer" to try to roll the change for less used targets first, and if there aren't any problems, only then attempt that for the tier-1 targets.

AFAICT libstd does not use these APIs, so it is unclear to me how many people are using them (is anybody u

[2019-05-23 15:44] asomers commented on #1272
Well, Nix uses `libc::execve`.  And the proposed change will break Nix.  In fact, I think the error here is not in libc.  The error is in execve's signature as mandated by POSIX.  POSIX says "The argv[] and envp[] arrays of pointers and the strings to which those arrays point shall not be modified by a call to one of the exec functions, except as a consequence of replacing the process image.", yet

[2019-05-23 15:56] gnzlbg commented on #1272
Doesn't the "except as a consequence of replacing the process image." imply that those can actually be modified ?

[2019-05-23 15:58] asomers commented on #1272
I interpret that as meaning that they may be modified in the child's image, but not in the parent's image.  The constness of the pointer only matters from the perspective of the parent.

[2019-05-23 16:09] gnzlbg commented on #1272
Makes sense. The question still is, why should we do something different than C here ? If the C headers have a bug, then that would be a good enough reason, but I am not sure if that's the case here.

[2019-05-23 16:12] semarie commented on #1272
Regarding openbsd, the signature is incorrect.

correct definitions for openbsd are:
- `pub fn execvpe(file: *const ::c_char, argv: *const *mut ::c_char, envp: *const *mut ::c_char) -> ::c_int;`
- `pub fn execv(prog: *const c_char, argv: *const *mut c_char) -> ::c_int; `
- `pub fn execve(prog: *const c_char, argv: *const *mut c_char, envp: *const *mut c_char)`
- `pub fn execvp(c: *const c_char, ar

[2019-05-23 16:14] gnzlbg commented on #1272
@semarie thanks, yes that is the signature that POSIX prescribes so basically all targets right now have this "issue". ABI-wise, a pointer is a pointer, and whether it is `const` or `mut` doesn't matter much.

[2019-05-23 16:26] asomers commented on #1272
If we were writing libc from scratch, then we should probably just copy the C headers and require users to deal with the wrong constness.  However, "fixing" libc at this point would break released versions of crates like Nix.  I don't think the payoff is worth the pain.

[2019-05-23 16:29] gnzlbg commented on #1272
I tend to agree. Do you think that if we ever do a new breaking release of libc, we should probably fix this ? We probably have to that at some point anyways, to be able to properly use `union`s, flexible array members, etc.

[2019-05-23 16:32] asomers commented on #1272
I suppose it wouldn't hurt if libc were breaking many more things at the same time.  But it would have to be a major version bump.

[2019-05-23 16:58] gnzlbg commented on #570
I think that the original proposal of @semarie here (https://github.com/rust-lang/libc/issues/570#issuecomment-292780813) is the best solution to this problem.

IIUC, essentially there would not be a `target_os = "freebsd"` and instead there would be `target_os = "freebsd11", `target_os = "freebsd12"`, etc. and these are from Rust perspective different OSes. To maintain backward compatibility with

[2019-05-23 17:03] semarie commented on #570
@gnzlbg an (unaccepted and unrejected) [RFC](https://github.com/rust-lang/rfcs/pull/2048) already exists for that since somehow long time now.

[2019-05-23 17:28] asomers commented on #570
@gnzlbg @semarie's proposal would work well for OpenBSD, but at great cost to the Rust ecosystem.  Adding target_os's for every version of FreeBSD and NetBSD would have even more cost.  And it wouldn't solve the problem for rare and proprietary OSes.  This is why I proposed an alternate solution at https://internals.rust-lang.org/t/pre-rfc-global-source-replacement-in-cargo-for-os-bindings/9383 .

[2019-05-23 19:50] gnzlbg commented on #570
@asomers I remember your proposal and I think it is interesting as well. From my point of view, your proposal and @semarie 's both solve problems in the same domain, but they have quite different goals and constraints on the solution, which is what results in two very different approaches, both having different trade-offs, to the point that we actually could do both since they appear to me to be c

[2019-05-24 10:22] gnzlbg commented on #1273
Applies to FreeBSD as well.

[2019-05-24 11:13] gnzlbg commented on #845
So cross is so unmaintained that I don't think this makes sense anymore. Basically cross goals are only supporting the oldest possible glibc versions that actually can compile, while libc needs also to expose newer APIs and be able to test them.

[2019-05-24 11:13] #845 closed

[2019-05-24 11:13] gnzlbg commented on #1006
I think we can go ahead and do this breaking change, care to submit a PR ?

[2019-05-24 11:14] gnzlbg commented on #915
I'd be willing to give this a try if somebody submits a PR fixing this.

[2019-05-24 11:43] #1142 closed

[2019-05-24 11:50] gnzlbg commented on #996
Fixed on master.

[2019-05-24 11:50] #996 closed

[2019-05-24 11:50] gnzlbg commented on #1080
Fixed on master.

[2019-05-24 11:50] #1080 closed

[2019-05-24 11:51] gnzlbg commented on #1079
Fixed on master.

[2019-05-24 11:51] #1079 closed

[2019-05-24 12:18] gnzlbg commented on #1239
This reproduces on master, that is, updating the Debian version did not fix this (it did fix the s390x issue).

Chances are, there is a bug in our implementation.

[2019-05-24 12:21] gnzlbg commented on #1239
I'm also seeing sometimes a:

[code]

seg fault on the arm build jobs in the cmsg tests. Restarting the build job fixes the issue, but it might mean that something fishy is going on there.

[2019-05-24 12:24] gnzlbg commented on #826
This is fixed on master.

[2019-05-24 12:24] #826 closed

[2019-05-24 12:25] gnzlbg commented on #641
This is fixed (or should be) fixed on master.

[2019-05-24 12:25] #641 closed

[2019-05-24 12:34] gnzlbg commented on #235
This is fixed on master. `libc` provides user-space APIs, which not only include `glibc` APIs on linux, but also kernel user-space APIs that are not available in glibc (`linux/...`) . We test these by having multiple test suites to cover headers that are incompatible of testing together.

What we do not provide in `libc` are kernel APIs for kernel space. That's out-of-scope, and these APIs are oft

[2019-05-24 12:34] #235 closed

[2019-05-24 12:36] #423 closed

[2019-05-24 12:39] gnzlbg commented on #234
For each `target_os`, currently, `libc` only supports a very particular OS version. Some OSes preserve backward compatibility, and this works fine there (linux, windows). Others make very minor breaking changes (macos), others make larger breaking changes, but try to preserve ABI compatibility (FreeBSD), and others do not care at all, and each minor OS release is essentially a completely different

[2019-05-24 12:39] #234 closed

[2019-05-24 12:41] gnzlbg commented on #519
`posix_spawn` is available already - for mach APIs, please use the `mach` crate, which is tested on multiple macosx versions and handle breaking changes to the `mach` APIs.

[2019-05-24 12:41] #519 closed

[2019-05-24 12:42] gnzlbg commented on #454
I've deprecated these on master, and they are also `doc(hidden)`. I'd say that we'd remove them in one of the next releases.

[2019-05-24 12:44] gnzlbg commented on #659
The version of glibc being targeted on CI (and therefore, the minimum version of glibc supported), has been updated. Please feel free to submit a PR implementing these.

[2019-05-24 13:09] #1240 closed

[2019-05-24 13:10] asomers commented on #454
I agree.

[2019-05-24 14:24] willglynn commented on #519
@gnzlbg Neither `libc` nor `mach` expose `posix_spawnattr_setexceptionports_np()`.

[2019-05-24 14:28] #1055 closed

[2019-05-24 14:38] gnzlbg commented on #519
@willglynn `mach` would accept a PR implementing it.

[2019-05-24 15:16] Susurrus commented on #1006
I already have a PR in #629, however it contains other breaking changes to datatypes around termios. Do you want me to break it out as a separate PR or is that whole PR on the table for merging?

[2019-05-24 21:14] #915 closed

[2019-05-25 09:47] gnzlbg commented on #1302
@Susurrus it seems this should be possible, we manually write these implementations for some types.

[2019-05-25 14:13] gnzlbg commented on #657
Now the `std` feature can be used as a `cargo` feature, and the `use_std` feature has been deprecated (produces a cargo warning). I'm repurposing this issue to track the removal of the `use_std` feature, which would be a breaking change that will probably have to wait till the next breaking libc release.

[2019-05-25 18:37] BaoshanPang opened #1369 "How to use my local libc when building rust from souce code?"
Hi Exports,

I am seeing this issue:

$ git clone https://github.com/rust-lang/rust.git

$ git clone https://github.com/rust-lang/libc.git

$ cd rust

$ # edit Cargo.toml in rust to contain this line in field [patch.crates-io]:

libc = {path = “../libc” }

$ ./x.py build

Then the erros appear:

error: the feature cfg_target_vendor has been stable since 1.33.0 and no longer requires an attribute t

[2019-05-25 18:41] gnzlbg commented on #1369
You should probably ask in rust-lang/rust, you might need to tweak other things in your config or in x.py to do that.

[2019-05-25 20:40] BaoshanPang commented on #1369
Hi gnzlbg,

Thanks for your response.

If we need to change some thing in libc and want to see if it works in rust, what's the normal process we usually do?

I asked the question in rust, but so far nobody answer me.

Thanks,
Baoshan

[2019-05-25 22:19] #981 closed

[2019-05-26 04:50] semarie commented on #1369
@BaoshanPang libc crate is used at several levels in rustc.

if you want to test things inside rustc, you want to change files in `rust/src/libclibc` directory. It is an embedded version of `libc` crate used by the compiler.

else, your changes in the crate `libc` will be only used by  rustbuild (the rust program that will build `rustc`) and not in `rustc` itself.

[2019-05-26 13:35] tbu- commented on #1079
Fixed by https://github.com/rust-lang/libc/commit/4497a7867d56ef61194e4cbb63ef4c4fe146e4c6.

[2019-05-26 13:35] tbu- commented on #1080
Fixed by https://github.com/rust-lang/libc/commit/4497a7867d56ef61194e4cbb63ef4c4fe146e4c6.

[2019-05-27 15:03] Susurrus commented on #1302
So my question is what are the right next steps here. Removing the `pad` and `__reserved` fields in favor of `repr(align)` or manually implementing `PartialEq` for these types?

[2019-05-27 15:12] gnzlbg commented on #1302
Making those fields private if they aren't yet, and manually implementing PartialEq would be a good start. If you want to use `repr(align)`, I strongly recommend doing that _afterwards_ in a subsequent PR because `repr(align)` is not available on all toolchains that we currently have to support.

[2019-05-27 22:37] #1302 closed

[2019-05-27 23:05] BaoshanPang commented on #1369
@semarie

The directory rust/src/liblibc disappears since rust version 1.33, the rustc crate has been used since then.

[2019-05-28 15:58] gnzlbg commented on #1006
Separate PR would be better

[2019-05-28 15:59] #1226 closed

[2019-05-28 15:59] #1162 closed

[2019-05-28 16:13] gnzlbg commented on #665
I've submitted a PR that deprecates these #1375 . After a couple of releases, if nobody complains, we can remove these.

[2019-05-29 10:35] gnzlbg commented on #1348
So I'm closing this. If there is a particular syscall that you need, either fill a more explicit issue, or send a PR adding the syscall.

[2019-05-29 10:35] #1348 closed

[2019-05-29 10:36] gnzlbg commented on #1339
This is fixed on master.

[2019-05-29 10:36] #1339 closed

[2019-05-29 10:37] gnzlbg commented on #1315
This is fixed on master.

[2019-05-29 10:37] #1315 closed

[2019-05-29 10:38] gnzlbg commented on #1204
The build works in DragonflyBSD, what fails are the tests. Since DragonflyBSD is not tested on CI, this is to be expected until that changes. PRs welcome.

[2019-05-29 10:40] gnzlbg commented on #1197
Renamed the issue, since the build actually works on NetBSD. What's failing are the libc-tests. Since NetBSD is not tested on CI, that's to be expected. PRs welcome.

[2019-05-29 10:47] gnzlbg commented on #938
@asomers IIUC this function still returns an `int` in FreeBSD 11, that is, we can't change its prototype to specify that it does not return anything.

In FreeBSD12, the return value is _invalid_, and creating an _invalid_ value is UB in Rust. I agree that, as long as FreeBSD library is always dynamically linked, that is, as long as LTO is not possible, this UB cannot break code that ignores the re

[2019-05-29 10:49] gnzlbg commented on #468
PRs welcome.

[2019-05-29 10:57] gnzlbg commented on #1318
How do we fix this ?

[2019-05-29 11:29] gnzlbg commented on #1178
There does not seem to be any open rust-lang/rust issues about this.

[2019-05-29 11:35] gnzlbg commented on #1094
The RS485 crate define the constants itself, so it cannot fail to compile AFAICT.

[2019-05-29 11:48] gnzlbg commented on #1282
cc @asomers - we are not testing aarch64-freebsd on CI, so this might be worth fixing.

[2019-05-29 13:29] Susurrus commented on #1006
I think this can be closed now that #629 was merged.

[2019-05-29 13:29] #1006 closed

[2019-05-29 13:32] asomers commented on #1282
Testing aarch64-freebsd in CI would require usermode qemu emulation.  It's possible, but it would take some effort to setup.

[2019-05-29 13:43] gatoWololo opened #1381 "Cannot access the si_pid field from waitid() call."
Hello!

I'm trying call `waitid()` from [libc](https://docs.rs/libc/0.2.55/libc/fn.waitid.html) like:
[code]

I use `waitid()` instead of `waitpid()` or `wait()` since I want the `WNOWAIT` flag. According to `man 2 waitid`:
[code]

However, looking at the declaration of `sigino_t` for [Rust libc](https://docs.rs/libc/0.2.55/libc/struct.siginfo_t.html), it seems there is no `si_pid` field available

[2019-05-29 13:48] gnzlbg commented on #1381
I think we should just add methods to `siginfo` in Rust that do the union access internally.

[2019-05-29 14:11] xoac commented on #1094
It can fail `c_int` and `c_ulong` are different types. Since libc (this crate) didn't define it. So rs485 failed to compile on musl buf successful for example on glibc.
`libc::ioctl` on musl required `c_int` (i32) but got `c_long`(u32) [as defined in RS485 crate]. Now when libc define `TIOCGRS485` and `TIOCSRS485` it can be used in rs485 crate - and it will successfully compile on all defined plat

[2019-05-29 14:17] jasonbking commented on #1318
The PR to fix the issue was merged a month ago.  Is there some other problem that's come up?

[2019-05-29 16:04] gnzlbg commented on #1094
AFAICT this is only true if these constants have the appropriate types.

[2019-05-29 16:56] jplatte commented on #1120
Why has this issue been closed immediately? I'd be interested in using `CStr` without `std`.

[2019-05-29 17:08] gnzlbg commented on #1120
Since `ffi::CStr` is not FFI-safe it cannot be used in FFI so adding it to `libc` makes no sense.

[2019-05-29 18:04] gnzlbg commented on #1318
No, just checking. Thanks!

[2019-05-29 18:04] #1318 closed

[2019-05-29 18:13] #1178 closed

[2019-05-29 19:52] #1304 closed

[2019-05-29 21:59] #1094 closed

[2019-05-31 15:24] neoeinstein opened #1383 "Potential breakage in pthread_kill/pthread_t"
Building `cargo-outdated` for `x86_64-unknown-linux-musl` and ran into this error while compiling a dependency:

[code]

[2019-05-31 16:32] gnzlbg commented on #1383
@neoeinstein that's correct, `pthread_t` is a pointer in musl, not an `u64`. What's the return type of `as_pthread_t()` ? If it isn't `pthread_t`, there is the bug.

[2019-05-31 16:43] gnzlbg commented on #1383
So `as_pthread_t` does return `pthread_t`, but it returns that from a different `libc` version.

[2019-05-31 16:43] gnzlbg commented on #1383
That is, `libstd` includes some older `libc`-version, where `pthread_t` has a different type, and it includes that one, which is incompatible with the new type. That is, IIUC, there are two versions of `libc` in the dependency graph.

[2019-05-31 16:48] gnzlbg commented on #1383
I have a libstd PR open that should fix this on nightly, but I wonder whether we should just revert this change.

[2019-06-01 11:45] gnzlbg commented on #1383
@neoeinstein So AFAICT, this was never intended to work. `libstd`'s `pthread_t` type has been deprecated since Rust 1.8.0 and the warning says that the type alias is incorrect and should not be used.

I'm closing this issue but feel free to re-open if you disagree.

[2019-06-01 11:45] #1383 closed

[2019-06-01 11:50] gnzlbg commented on #1383
Wait. So... the alias is deprecated, but it is used by APIs like JoinHandleExt that, for some reason, are not deprecated...

[2019-06-01 13:16] neoeinstein commented on #1383
I am not knowledgeable in this area, so I have no objections. I will file a similar report over at `jobserver` so that they can make the appropriate correction on their end.

[2019-06-01 13:17] gnzlbg commented on #1383
@neoeinstein i've got a PR open upstream that might fix it, so that jobserver and similar don't have to: https://github.com/rust-lang/rust/pull/61428

[2019-06-02 07:46] apmanol opened #1385 "Compilation for `mips` :"
Compilation for `mips` :
nix-0.14 for broke too.

[code]

_Originally posted by @apmanol in https://github.com/rust-lang/libc/pull/1365#issuecomment-498006150_

[2019-06-02 07:46] apmanol commented on #1385
sorry my bad

[2019-06-02 07:46] #1385 closed

[2019-06-04 16:43] gnzlbg opened #1391 "Deprecate all Linux kernel APIs"
Libc currently only exposes a lot of Linux kernel APIs, but leaves doing so to other crates for other operating systems.

We probably should do the same that we do for MacOS and Windows, that is, have a different crate, e.g., `linux`, that's just like `mach`, `winapi`, etc. and that it is tested against different Linux kernel versions.

Once we have that in place, we can start deprecating kernel A

[2019-06-07 23:24] myfreeweb commented on #570
Hmm, looks like you've decided to check it in libc's `build.rs`, nothing needed from the compiler:

https://github.com/rust-lang/libc/blob/d5a599ece74cde441577db7ece34b59017ff7e6c/build.rs#L19-L23

but only for testing right now.

If you just do `<=` checks instead of specifically 11 and 12, and on `__FreeBSD_version` from `/usr/include/osreldate.h` instead of `freebsd-version` output, this could

[2019-06-08 12:57] gnzlbg commented on #570
@myfreeweb the current system is for private use within libc only. This allow us to implement FreeBSD12 APIs, keep track of the backwards incompatible changes, and enables testing whatever system we choose to use to support this.

[2019-06-08 13:35] myfreeweb commented on #570
Yes. And I'm saying this can easily be turned into the actual solution that won't be just for private use!

[2019-06-12 10:15] mati865 opened #1396 "Pthread_t change broke musl"
Using latest `libc` causes issues on musl because of this:
[code]
It's because `pthread_t` type in `libc` changed to correct one but `libstd` still use wrong one.

[2019-06-12 10:23] mati865 commented on #1396
Even with https://github.com/rust-lang/rust/pull/61428 merged stable and beta will remain broken.

To handle it gracefully `libc` would have to detect `pthread_t` type exported by `libstd` and use the same.

[2019-06-12 10:28] gnzlbg commented on #1396
I don't think this is a libc bug. Neither `libc` nor `libstd` promise that `libstd::RawPthread` and `libc::pthread_t` are type aliases to the exact same type. IIUC, this is actually intended to not be the case by design.

That is, the bug here is in the user code that assume that passing a `libstd::RawPthread` to a `libc` API taking a `libc::pthread_t` is portable code. It is not. The portable way

[2019-06-12 10:31] gnzlbg commented on #1396
Having said that, it is unclear to me how to fix this, or whether it is worth fixing. How much user code is impacted by this ?

[2019-06-12 10:41] mati865 commented on #1396
At least everything that depends on `jobserver` won't build: https://crates.io/crates/jobserver/reverse_dependencies
Cargo is one of listed crates so this is very likely to break building of Cargo for musl toolchain unless there is workaround applied to `jobserver`.

[2019-06-12 11:31] gnzlbg commented on #1396
IIRC a workaround to jobserver was already applied ?

[2019-06-12 11:32] gnzlbg commented on #1396
I don't know if that was the "proper" workaround, AFAICT the proper workaround is just using a `mem::transmute` here, although for the time being at least using a `raw_pthread as _` should work as well since an `usize` can be cast into a `*mut c_void`.

[2019-06-12 11:34] mati865 commented on #1396
Not for this issue:
https://github.com/alexcrichton/jobserver-rs/blob/15b93a7caac18dd9aedd686e7c8381cef3fd450c/src/lib.rs#L667

[2019-06-12 12:19] gnzlbg commented on #1396
Indeed, I might have confused jobserver with some other project. See https://github.com/alexcrichton/jobserver-rs/pull/14

[2019-06-12 14:43] gnzlbg commented on #1396
@mati865 so a new version of jobserver has been released with a fix, could you let me know whether that solves this issue ?

[2019-06-12 15:10] mati865 commented on #1396
It works, thanks.

[2019-06-12 15:10] #1396 closed

[2019-06-13 19:07] JoelScarfone opened #1397 "Breaking Changes from version 0.2.55 to 0.2.58"
Two recent breaking changes:

`libc::RLIMIT_AS` is a `u32` on 0.2.58, changed from an `i32` on earlier versions.

`libc::setrlimit` takes in a `u32` as its `resource` parameter on 0.2.56, changed from an `i32` on earlier versions.

Both of these changes involve moving from using a `libc::c_int` (`i32`) to a `libc::__rlimit_resource_t` (`u32`). I found these breaking changes when upgrading from 0.2

[2019-06-13 19:11] gnzlbg commented on #1397
This is expected. If you are passing the `libc::RLIMIT_...` constants to functions accepting those constants (like `libc::setrlimit`), you shouldn't have seen any errors, but if you were calling these with your own constants (e.g. defined with a different type), then these errors are expected, and you can migrate your code by adding `as _` to the code, e.g., `libc::setrlimit(my_const as _)`.

Coul

[2019-06-13 19:26] JoelScarfone commented on #1397
I had a function that wrapped getting the resource I wanted to set the resource limit on, that function returned a `libc::c_int` that i passed to `setrlimit`, hence you can see where it broke as in that function i was expecting a `libc::c_int` return value on all variants, as well as calling `setrlimit` with a `libc::c_int`.

[2019-06-13 19:28] gnzlbg commented on #1397
Damn yes, that use case was expected breakage. The best thing you can do is have a `type rlimit_t = ...;` type alias, and use `#[cfg(...)]` to set the appropriate type.

[2019-06-13 19:29] gnzlbg commented on #1397
Ideally, at some point in the future, the `nix` crate would expose a portable and safe API for performing the operations that you need.

[2019-06-13 19:29] JoelScarfone commented on #1397
All good, thanks for a hasty response.

[2019-06-13 19:29] #1397 closed

[2019-06-13 19:37] gnzlbg commented on #1397
Yes, sorry about the breakage. The tests that verified the rlimit APIs were disabled for some reason, and re-enabling them discovered that the types were incorrect in some targets. Sadly, we can't use the crater tool with libc yet to test whether some breaking change actually breaks somebody, so I decided to roll in the fix, and wait and see if the changes actually break somebody (which it did).

[2019-06-13 19:58] JoelScarfone commented on #1397
It is already fixed and in master on my end, I wouldn't revert; Especially if i'm the only one who brought it up (and since reverting would be another breaking change :D).

[2019-06-13 21:04] briansmith commented on #659
My understanding from https://lwn.net/Articles/711013/ is that glibc does NOT implement a fallback in the case that the `getrandom()` syscall is unavailable. Is that correct, or have things changed? If so, I agree it is a really good idea to expose `libc::getrandom()` so that no Rust code needs to use the vararg syscall function. (varargs are a bad idea, in general.)

[2019-06-14 03:35] josephlr opened #1400 "Deprecate pointer-width integer aliases"
Similar to #1304, we guarantee that `usize/isize` is layout compatible with C's `uintptr_t/intptr_t`.

From the [Rust documentation on `usize`](https://doc.rust-lang.org/std/primitive.usize.html):

From the [C11 standard (N1570)](http://www.open-std.org/jtc1/sc22/WG14/www/docs/n1570.pdf) section 7.20.1.4:

There is no need to provide type aliases (e.g. `libc::uintptr_t`) for these, in the same way

[2019-06-14 04:02] killme2008 opened #1401 "Panic at FD_SET"
* Platform:  Linux dennis-thinkpad 4.15.0-39-generic #42-Ubuntu SMP Tue Oct 23 15:48:01 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
* Info:   When try to create more connections to a mysql server, panic at `FD_SET`.
* Error:

[code]

* code line:  https://github.com/rust-lang/libc/blob/0.2.58/src/unix/notbsd/mod.rs#L1177

[2019-06-14 04:05] killme2008 commented on #1401
We don't use libc derectly, but use [nix-0.11.0](https://github.com/nix-rust/nix) such as

[code]

Panic at ` fd_set.insert(socket_fd)`.

[2019-06-14 08:30] gnzlbg commented on #1401
@killme2008 could you compile with `--features=extra_traits`, and dump `fd_set` and `socket_fd` before the insert call

[code]

?

cc @asomers

[2019-06-14 09:10] gnzlbg commented on #1400
The UCGs specifies that `usize`/`isize` are `uintptr_t`/`intptr_t` - see: https://rust-lang.github.io/unsafe-code-guidelines/layout/scalars.html#isize-and-usize); a lot of `unsafe` code relies on being able to transmute "pointers to sized types" to `usize` and vice-versa - this is something we cannot break.

That is, we could deprecate `libc::{intptr_t, uintptr_t}` and tell people to just use `usi

[2019-06-14 13:01] asomers commented on #1401
This is probably a bug in your application.  `select` can only be used with file descriptors up to `FD_SETSIZE`.

[2019-06-14 13:12] gnzlbg commented on #1401
@asomers does nix expose a "safe" wrapper over these APIs ?

[2019-06-14 16:04] asomers commented on #1401
No need.  libc's exported `FD_SET` is already safe.  That's why the application panic()ed rather than segfaulted.

[2019-06-14 16:06] gnzlbg commented on #1401
Ok, then I'm going to leave this open here. While I agree with you that the bug is in user code, I think we should be providing a better error message in this situation, e.g., by asserting at the beginning of the function that the indices must be in bounds, and explaining what those bounds are, at least in debug mode via a `debug_assert!`.

[2019-06-14 18:49] briansmith commented on #1400
In fact, `libc::size_t` is already defined to be `usize` and lots of code relies on this too. Probably more code relies on `usize == libc::size_t` than relies on `usize == uintptr_t`. I don't think either `size_t` nor `uintptr_t` should be removed until a final decision has been made with an RFC about what to do about platforms where `size_t` is smaller than `uintptr_t`.

[2019-06-14 19:10] gnzlbg commented on #1400
Code that relies on `libc::size_t` being exactly `usize` is not portable. Most code I see only assumes that `libc::size_t` is an integer type, which is a correct assumption. That is:

[code]

From libc's POV, non-portable code like that is broken, and we have broken code like that many types in the past as a consequence of applying bug fixes to the library.

[2019-06-14 19:19] briansmith commented on #1400
It would be a huge breaking change that would require an RFC. The `usize == uintpr_t` doesn't make sense when you have `uintptr_t` as 128 or 256 bits and `size_t` is only 32 or 64 bits. It's a bug in the definition of `usize` that needs to be fixed.

[2019-06-14 23:16] gnzlbg commented on #1400
I don’t really disagree with you Brian, having to choose here is
suboptimal. A lot of unsafe code relies on being able to cast a *const f32
to an usize and back. If this isn’t a “lossless” operation, all unsafe code
would break. I think this is a hard constraint on what we could choose.

It would be very suboptimal to have to use 128 bit integers for size_t, but
at least that would work without br

[2019-06-17 10:26] #659 closed

[2019-06-23 18:04] gnzlbg opened #1405 "Add CI for Solaris / Illumos"
We probably should add CI for Illumos / Sun Solaris, or both. I have no idea about any of these two OSes, but I can help any interested party.

If there is no CI system like Travis, Azure Pipelines, Appveyor, or Cirrus-CI that provides native Solaris and/or Illumos VMs, the best way forward is to test Solaris and Illumos under Linux.

For testing other similar targets under Linux we cross-compile

[2019-06-23 18:51] robertdfrench commented on #1405
@gnzlbg there are no commercial CI services for this, but I would be willing to make a host available. I have some experience developing GitHub webhook integrations. These OSes have a construct called "Zones" (not unlike Linux Containers or BSD Jails), and it should not be overly difficult to rig up a scheme where each push to a PR is executed in unique zone. This would be similar in spirit to the

[2019-06-23 19:05] papertigers commented on #1405
First off, thanks for opening this issue!
Secondly, I am speaking from the illumos side of things.

Just so I understand correctly, is there local infrastructure for running a KVM image available, or are we dependent on one of the providers you listed?

If we can provide an illumos image for tests, that would be the easiest path forward. The last time I tried to cross compile from linux, it result

[2019-06-23 19:47] gnzlbg commented on #1405
@robertdfrench that certainly is an option!

@papertigers

Dependent on one of the providers. Using KVM and qemu is possible on Travis-CI. I assumed that this was possible on Azure Pipelines, but I don't know whether this is the case.

Were those errors due to rustc, or due to the C cross-compilation toolchain ? If there is no C cross-compilation toolchain, then cross-compiling isn't probably a go

[2019-06-24 16:26] bgermann commented on #1405
Joyent's CTO Bryan Cantrill [fell in love with Rust](http://dtrace.org/blogs/bmc/2018/09/18/falling-in-love-with-rust/), so there should be a chance of getting a sponsored VM or zone from them.

[2019-06-25 21:11] josephlr opened #1406 "What is the minimum iOS version we target?"
As part of https://github.com/rust-random/getrandom/issues/38 we are trying to figure out if we can reliably use the macOS/iOS [`getentropy(2)`](https://www.unix.com/man-page/mojave/2/getentropy/) function (added in macOS 10.12 and iOS 10).

The [Rust Platform Support](https://forge.rust-lang.org/platform-support.html) page has a minimum version for macOS (10.7) but not for iOS. Given that [distri

[2019-06-25 21:25] gnzlbg commented on #1406
AFAICT we can add the API here, but whether rust-random/getrandom should use it or not, depends on which iOS versions that crate wants to support. If it wants to support older versions, then it should probably query the iOS version and provide a workaround.

Or in other words, libc does not guarantee that all provided APIs are available on all HOSTs of a particular platform. It is up to the users

[2019-06-25 21:31] josephlr commented on #1406
The main reason I ask is that there is a proposal (rust-lang/rust#62082) to make `getrandom` a dependancy of Rust's `std`. So figuring out the min iOS version for that seems important. I agree that this is not a `libc` issue though.

[2019-06-25 21:34] gnzlbg commented on #1406
That feels like it would be a libstd issue. One can probably use a atomic function pointer that is set on initialization to use different implementations depending on the iOS version. Doing that only requires relaxed atomic loads and stores.

[2019-06-26 01:15] robertdfrench commented on #1405
Just to follow up on this, I checked with Cirrus CI, and they said would be happy to provide OmniOS VMs for open source if someone can produce a GCP image. I pinged the OmniOS mailing list to see if anyone had thoughts on that, and heard from a Dan M about a set of instructions for OmniOS on Azure that could potentially be dusted off and revived (is this what you were referencing @papertigers ?).

[2019-06-26 03:07] jasonbking commented on #1405
Currently, I'm aware of two issues that are blocking rust-lang/rust#55553 (there might be more, but I cannot get any further until these are resolved):

The first one is that libtest has duplicated the functionality of the num_cpus crate.  While the num_cpus crate supports the illumos target, libtest's num_cpus does not, so it fails to build with the illumos target enabled.

The other (and larger)

[2019-06-26 03:22] binarycrusader commented on #1405
I'm no longer involved in Solaris, but @alanc might know who is for this.

[2019-06-26 21:00] acfoltzer opened #1410 "Linux: ucontext_t definition is only correct for glibc 2.28 and above"
This commit introduced a shadow stack `__ssp` field to the definition of `ucontext_t`: https://github.com/rust-lang/libc/commit/4497a7867d56ef61194e4cbb63ef4c4fe146e4c6

However, that field is only present in glibc 2.28 and above, so this struct doesn't work correctly on distros with earlier versions, including Ubuntu 18.04 where I encountered memory corruption after updating from 0.2.47 to 0.2.58

[2019-06-26 21:06] gnzlbg commented on #1410
How is code compiled for glibc < 2.28 ABI compatible with >= 2.28 ?

[2019-06-26 21:11] acfoltzer commented on #1410
Sorry, I must not be understanding your question. I'm on a < 2.28 distro, compiling and running against < 2.28; I currently don't use any >= 2.28 distros.

[2019-06-26 21:37] gnzlbg commented on #1410
If you compile a binary against glibc < 2.28 headers, ucontext_t has a smaller size than if one uses glibc >= 2.28. AFAIK, you can compile against glibc < 2.28 and then use that binary in a system where glibc >= 2.28 is dynamically linked. I was wondering how does this work here?

E.g., `getcontext` on glibc >= 2.28 might try to write to the extra field of `ucontext_t`, but if your library used ol

[2019-06-26 21:44] gnzlbg commented on #1410
Relevant commit: https://github.com/bminor/glibc/commit/25123a1c5c96429d70e75b85a9749b405909d7f2

So apparently that's allowed, see: https://github.com/bminor/glibc/commit/25123a1c5c96429d70e75b85a9749b405909d7f2

[2019-06-26 21:49] gnzlbg commented on #1410
Do you have a minimal working example showing the issue ?

[2019-06-26 22:02] gnzlbg commented on #1410
(This issue might be related: https://github.com/nix-rust/nix/issues/1092)

[2019-06-26 22:12] acfoltzer commented on #1410
So, this is coming up in a case where a Rust program is writing a `libc::ucontext_t` to a pointer to a `ucontext_t` provided by C. Since the size of the struct is smaller on the C side, when we write to it using the Rust type we write off the end into memory we shouldn't have access to.

Here is a quick and dirty example using a stack-allocated `ucontext_t`, which triggers the stack-smashing detec

[2019-06-26 22:19] gnzlbg commented on #1410
Gotcha. AFAICT the easiest way to fix this is to revert that change, skipping ucontext in libc-test/build.rs for linux, at least until less users are using glibc < 2.28.

[2019-06-27 07:00] gnzlbg opened #1412 "Minimum Supported glibc version"
IIRC, the current minimum supported glibc version on `x86_64-unknown-linux-gnu` is 2.26. We offer APIs that are only available in glibc 2.27 and 2.28 though. When used, those API would crash on glibc 2.26, but if they are not used, everything is ok.

That is, we support glibc >= 2.26, where some APIs are "forward-compatible" extensions.

However, some new features in newer glibc versions (e.g. sha

[2019-06-27 07:25] gnzlbg commented on #454
Feel free to open a PR removing these.

[2019-06-27 07:26] gnzlbg commented on #665
Feel free to submit a PR removing these.

[2019-06-27 18:21] papertigers commented on #1405
@robertdfrench yeah I am referring to the work by @danmcd and others in the OmniOS community. If someone has a contact at Azure, or more specifically someone at Azure working on Azure pipelines it would be great to sync up with them and figure out what we would need to do, to become an official supported option.

There's also some on going work to get illumos working properly on GCE which is being

[2019-06-27 19:51] vojtechkral commented on #1405
Slim chance I would say. I'm not working on Oracle Solaris anymore either and I think the other guys involved in rust-on-solaris are doing something else these days too...

[2019-06-27 20:08] acfoltzer commented on #1410
Closed by #1411. Thanks!

[2019-06-27 20:08] #1410 closed

[2019-06-27 22:04] alanc commented on #1405
@psumbera is maintaining the rust packages we ship in Solaris, which you can see at https://github.com/oracle/solaris-userland/tree/master/components/rust

Our primary interest is in being able to keep building Mozilla & GNOME desktop software for Solaris, as they grow more and more rust dependencies.

There is [support for running Solaris x86 in the Oracle Cloud](https://blogs.oracle.com/solaris/

[2019-06-28 18:21] fintelia opened #1415 "Support future riscv64-unknown-linux-elf target"
Rust currently has support for bare metal RISC-V targets, but cannot compile for RISC-V Linux ones because it lacks standard library support. This is partially blocked because the libc crate does not recognize `target_arch = "riscv64"` and thus does not export symbols like `c_int`, `c_void`, and `uintptr_t` for it.

[2019-06-28 18:26] gnzlbg commented on #1415
A good place to start would be by adding a docker container for the target, e.g., that install gcc-riscv64-linux-gnu libc6-dev-riscv64-cross qemu-system-riscv64, and compiles libc for the target. That should not be blocked by anything.

If compilation fails, that container can be added to `allow_failures:` in the .travis.yml.

[2019-06-28 21:19] gnzlbg commented on #1405
So that's interesting. It seems that one can try that for free. Maybe it would be possible to use it for CI. I briefly looked if any solaris project is doing that via the github API, but that does not appear to be the case. I've never used the github API, so I don't know how hard would it be to set that up.

[2019-07-02 06:38] jasonbking commented on #1405
Another issue is several components are explicitly requiring older versions of rand that are broken on illumos (due to rust-random/rand#637 -- fixed in Feb):

libstd requires 0.6.1
test-cargo-miri requires 0.6.5
rustc-workspace-hack requires 0.6.1

I don't know the reasoning on using those versions (instead of relying on semver).  Until those are resolved, we have to go into .cargo/.... and manual

[2019-07-02 09:12] gnzlbg commented on #1405
For building libc one only needs libcore. If libc doesn't build properly (or isn't properly tested), getting libstd working is often a bit harder - getting libc to work often requires making sure that some system libraries are properly linked.

[2019-07-02 14:11] jasonbking commented on #1405
But you cannot get a working rustc on illumos at all without fixing the above issues..

[2019-07-02 17:19] gnzlbg commented on #1405
I think I misunderstood. Can one cross-compile to Illumos ?

[2019-07-03 08:29] mati865 commented on #1405
New versions sometimes introduce regressions and you really don't want something as important as compiler itself to randomly fail to build given the same source code.

You can open PR upgrading `rand` in Rust repository or ask somebody to do it for you.

You can make it no_std target and it will build without `rand` and once everything is resolved enable the std.

[2019-07-04 16:52] newpavlov opened #1420 "Building for x86_64-unknown-redox results in an empty crate"
See for example generated [docs](https://rust-lang.github.io/libc/x86_64-unknown-redox/libc/index.html). I think it was overlooked in  #1332 and until rust-lang/rust#60139 lands we should use `#[cfg(any(unix, target_os="redox"))]` [here](https://github.com/rust-lang/libc/blob/master/src/lib.rs#L116).

cc @jackpot51

[2019-07-05 14:40] Susurrus commented on #665
`NET_MAXID` is included here as it relies on `AF_MAX` on many targets and had the same deprecation notice. Submitted rust-lang/libc#1423

[2019-07-05 17:14] gnzlbg opened #1424 "Re-enable WASI CI"
cc @sunfishcode

[2019-07-05 17:15] gnzlbg opened #1425 "powerpc-unknown-linux-gnu segfaults on CI"

[2019-07-05 17:15] gnzlbg opened #1426 "s390x-unknown-linux-gnu segfaults on CI"

[2019-07-05 17:17] gnzlbg opened #1427 "A couple of APIs fail roundtrip tests on CI"
Inspect the libc-test/build.rs for `skip_roundtrip`.

Some of the failures are C reading `0` from struct fields where we have written something else. And a couple of the failures were C reading completely different bytes, or reading bytes with a stride from Rust.

[2019-07-05 17:18] gnzlbg commented on #1406
I'm closing this, since adding an API here just exposes the FFI wrapper. It has nothing to do with the minimum iOS version that libstd supports - that's up to libstd to decide, and that will determine whether they can use a certain API or not.

[2019-07-05 17:18] #1406 closed

[2019-07-06 17:44] #665 closed

[2019-07-09 16:10] newpavlov opened #1434 "Status of WASI Core API"
Initially I've asked this questions relevant to `libc` [here](https://www.reddit.com/r/rust/comments/cap8sy/rust_136_stabilized_the_wasm32wasi_target/). I am not sure if i should ask them in WebAssembly/WASI repository, so I'll duplicate them here:
- WASI is defined in terms of [Core API](https://github.com/WebAssembly/WASI/blob/master/design/WASI-core.md), but I don't quite understand the part ab

[2019-07-09 17:14] sunfishcode commented on #1434
With "WASI Core" in its current form, most Rust code should continue to use Rust's standard library interfaces for working with files and directories, rather than call into WASI directly. Our goal is to make most of the Rust standard library interfaces for files and directories just work, rather than requiring you to write new code specific to WASI. The Rust standard library and, for people that n

[2019-07-09 17:39] newpavlov commented on #1434
In my understanding WASI should not be Rust specific, so defining a platform as "here set of core functions, but actually they link to functions in an unstable module, so existing software can break tomorrow"  seems a bit strange. If WASI target right now is intended to be purely experimental, then it's a different deal of course.

My main motivation for those questions comes from work on `getrand

[2019-07-09 18:32] sunfishcode commented on #1434
WASI itself is still evolving. We know that the current `wasi_unstable` API has fundamental limitations that we need to address. This is why we picked the name `wasi_unstable`. We're trying to balance the needs of people who want something effectively stable and available in popular tools so they can try it out, and the needs of WASI which desperately needs to keep evolving.

I agree that splittin

[2019-07-09 18:43] newpavlov commented on #1434
Well, I think it will be easier and faster to change smaller crate, than changing `libc` each time WASI API has changed. Plus you will be able to better communicate breaking changes (e.g. on removing of `wasi_unstable`) by bumping minor version of `was-core` and in future a general stability of Core API by releasing v1.0.

[2019-07-10 09:56] dianpopa commented on #1348
Fixed by #1435.

[2019-07-11 18:36] sunfishcode commented on #1434
I guess you're right; we'd just need to add wasi-core as a dependency for libstd, but perhaps we can do that.

I've now created https://github.com/CraneStation/wasi-core, which is published [here](https://crates.io/crates/wasi-core) to start experimenting with this. It has both a raw interface and the start of a slightly-more-idiomatic-Rust interface. Feedback welcome!

I should also point out tha

[2019-07-18 20:51] Gymmasssorla opened #1439 "IP_HDRINCL isn't enabled with IPPROTO_RAW"
Hello all. I've tried to create a raw IPv4 socket with `IPPROTO_RAW`. The `IP_HDRINCL` option MUST be automatically enabled, but this code doesn't works:

[code]

[code]

My system:
[code]

How to solve this problem? Is this a bug or I've done something wrong? The libc version is `0.2.60`. For more information read http://man7.org/linux/man-pages/man7/raw.7.html.

[2019-07-19 04:55] Gymmasssorla commented on #1439
Just examined that systems calls are passed normally (`strace -etrace=socket ./target/debug/program`), which means that this is probably not a libc problem. Any ideas?

[2019-07-19 06:14] Gymmasssorla commented on #1439
The problem is solved.

[2019-07-19 06:14] #1439 closed

[2019-07-22 22:28] fenhl opened #1441 "Fails to compile on nightly-armv7-unknown-linux-gnueabihf in release mode"
Steps to reproduce:

[code]

Output:

[code]

Sorry if this is a duplicate of #1427, I couldn't tell whether this toolchain is tested by the CI.

[2019-07-23 12:03] gnzlbg commented on #1441
This toolchain is tested by CI, and that appears to be a segmentation fault in the Rust compiler. Could you open an issue in rust-lang/rust and link it with this one ?

[2019-07-29 05:01] Nugine opened #1446 "Conflict between RLIMIT_NLIMITS and RLIMIT_RTTIME on linux-musl"
## Conflict

libc 0.2.60

[src/unix/linux_like/linux/musl/mod.rs#L255](https://github.com/rust-lang/libc/blob/2b01f7e67322175e05f25325e6e941aa9a3ddeae/src/unix/linux_like/linux/musl/mod.rs#L255) `RLIMIT_RTTIME` is 15

[GitHub Search](https://github.com/search?utf8=%E2%9C%93&q=RLIMIT_NLIMITS+repo%3Arust-lang%2Flibc+path%3Asrc%2Funix%2Flinux_like%2Flinux%2Fmusl&type=Code&ref=advsearch&l=&l=) However

[2019-07-29 05:17] Nugine commented on #1446
Oops. I didn't use musl toolchain to compile my test code.

Here is the output.
[code]

[2019-07-29 12:46] gnzlbg commented on #1446
I think this probably means that RLIMIT_RTTIME was added to a musl version that we do not support yet.

[2019-07-29 12:48] gnzlbg commented on #1446
We currently support musl 1.1.22 with the sanitized kernel headers for the  "4.4.2" kernel. You are welcome to bump that up in CI (e.g. see https://github.com/rust-lang/libc/blob/master/ci/install-musl.sh) and upgrade the library.

[2019-07-29 14:27] Nugine commented on #1446
I solved the problem by specifying targets. Thanks for your answer!

[2019-07-29 14:27] #1446 closed

[2019-07-30 19:38] bstrie commented on #547
I do like the idea of having one crate for fundamental things which platforms don't have the nerve to break, and another for platform-specific things which may break at a platform's whim. If the former crate proved to be stable, small, and well-defined enough--effectively "things defined by the C standard that everything in the world relies on and it would be catastrophic for any platform to attem

[2019-07-31 13:23] jswrenn opened #1451 "Initialization from zeroed bytes is potentially unsound."
`MaybeUninit::zeroed` and `mem::zeroed` are the recommended way to initialize many of the datatypes in `libc` (see: https://github.com/rust-lang/libc/issues/41#issuecomment-153798177, https://github.com/rust-lang/libc/issues/55#issuecomment-155576191, https://github.com/rust-lang/libc/issues/58#issuecomment-155852610, https://github.com/rust-lang/libc/issues/475#issuecomment-267382689, https://git

[2019-07-31 13:44] gnzlbg commented on #1451
I think this is incorrect: the value of padding bytes is currently unspecified.

I think this is also incorrect: Rust assumes that _any_ value is a valid value for a padding byte. It does not matter whether you write zero or some other value to them, or whether you write to them at all (e.g. just leave them uninitialized).

Since padding bytes can take any value, writing zero to them is ok, and th

[2019-07-31 13:50] RalfJung commented on #1451
The argument in https://github.com/rust-lang/unsafe-code-guidelines/issues/174 is that there is actually nothing stating that these bytes can take any value. All we got is current rustc behavior, but that's clearly not enough.

[2019-07-31 14:01] gnzlbg commented on #1451
Which is why the first sentence in my comment says that the current behavior is unspecified.

This is not all we got. We do have official documentation everywhere explaining that the following is guaranteed to work on stable Rust:

[code]

Since C is allowed to write anything to padding bytes, the padding bytes of `value` can be initialized with anything. Saying that padding bytes cannot be initia